Repository googleapis/google-api-ruby-client, pull requests merged in 2021-07, with the labels that each got.

#5680 feat: Automated regeneration of area120tables v1alpha1 client
  generated/google-apis-area120tables_v1alpha1/CHANGELOG.md
  generated/google-apis-area120tables_v1alpha1/lib/google/apis/area120tables_v1alpha1.rb
  generated/google-apis-area120tables_v1alpha1/lib/google/apis/area120tables_v1alpha1/gem_version.rb
  generated/google-apis-area120tables_v1alpha1/synth.metadata
Labels: automerge, cla: yes

#5681 feat: Automated regeneration of dataflow v1b3 client
  generated/google-apis-dataflow_v1b3/CHANGELOG.md
  generated/google-apis-dataflow_v1b3/lib/google/apis/dataflow_v1b3/classes.rb
  generated/google-apis-dataflow_v1b3/lib/google/apis/dataflow_v1b3/gem_version.rb
  generated/google-apis-dataflow_v1b3/synth.metadata
Labels: automerge, cla: yes

#5685 feat: Automated regeneration of drive v2 client
  generated/google-apis-drive_v2/CHANGELOG.md
  generated/google-apis-drive_v2/lib/google/apis/drive_v2/gem_version.rb
  generated/google-apis-drive_v2/lib/google/apis/drive_v2/service.rb
  generated/google-apis-drive_v2/synth.metadata
Labels: automerge, cla: yes

#5686 feat: Automated regeneration of drive v3 client
  generated/google-apis-drive_v3/CHANGELOG.md
  generated/google-apis-drive_v3/lib/google/apis/drive_v3/gem_version.rb
  generated/google-apis-drive_v3/lib/google/apis/drive_v3/service.rb
  generated/google-apis-drive_v3/synth.metadata
Labels: automerge, cla: yes

#5689 feat: Automated regeneration of redis v1 client
  generated/google-apis-redis_v1/CHANGELOG.md
  generated/google-apis-redis_v1/lib/google/apis/redis_v1/classes.rb
  generated/google-apis-redis_v1/lib/google/apis/redis_v1/gem_version.rb
  generated/google-apis-redis_v1/synth.metadata
Labels: automerge, cla: yes

#5690 feat: Automated regeneration of redis v1beta1 client
  generated/google-apis-redis_v1beta1/CHANGELOG.md
  generated/google-apis-redis_v1beta1/lib/google/apis/redis_v1beta1/classes.rb
  generated/google-apis-redis_v1beta1/lib/google/apis/redis_v1beta1/gem_version.rb
  generated/google-apis-redis_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5692 feat: Automated regeneration of baremetalsolution v1 client
  generated/google-apis-baremetalsolution_v1/CHANGELOG.md
  generated/google-apis-baremetalsolution_v1/google-apis-baremetalsolution_v1.gemspec
  generated/google-apis-baremetalsolution_v1/lib/google/apis/baremetalsolution_v1.rb
  generated/google-apis-baremetalsolution_v1/lib/google/apis/baremetalsolution_v1/gem_version.rb
  generated/google-apis-baremetalsolution_v1/lib/google/apis/baremetalsolution_v1/service.rb
  generated/google-apis-baremetalsolution_v1/synth.metadata
Labels: automerge, cla: yes

#5693 feat: Automated regeneration of cloudchannel v1 client
  generated/google-apis-cloudchannel_v1/CHANGELOG.md
  generated/google-apis-cloudchannel_v1/lib/google/apis/cloudchannel_v1/classes.rb
  generated/google-apis-cloudchannel_v1/lib/google/apis/cloudchannel_v1/gem_version.rb
  generated/google-apis-cloudchannel_v1/synth.metadata
Labels: automerge, cla: yes

#5695 feat: Automated regeneration of monitoring v3 client
  generated/google-apis-monitoring_v3/CHANGELOG.md
  generated/google-apis-monitoring_v3/lib/google/apis/monitoring_v3/classes.rb
  generated/google-apis-monitoring_v3/lib/google/apis/monitoring_v3/gem_version.rb
  generated/google-apis-monitoring_v3/lib/google/apis/monitoring_v3/representations.rb
  generated/google-apis-monitoring_v3/synth.metadata
Labels: automerge, cla: yes

#5701 feat: Automated regeneration of networkconnectivity v1alpha1 client
  generated/google-apis-networkconnectivity_v1alpha1/CHANGELOG.md
  generated/google-apis-networkconnectivity_v1alpha1/lib/google/apis/networkconnectivity_v1alpha1.rb
  generated/google-apis-networkconnectivity_v1alpha1/lib/google/apis/networkconnectivity_v1alpha1/gem_version.rb
  generated/google-apis-networkconnectivity_v1alpha1/lib/google/apis/networkconnectivity_v1alpha1/service.rb
  generated/google-apis-networkconnectivity_v1alpha1/synth.metadata
Labels: automerge, cla: yes

#5703 feat: Automated regeneration of retail v2 client
  generated/google-apis-retail_v2/CHANGELOG.md
  generated/google-apis-retail_v2/lib/google/apis/retail_v2/classes.rb
  generated/google-apis-retail_v2/lib/google/apis/retail_v2/gem_version.rb
  generated/google-apis-retail_v2/synth.metadata
Labels: automerge, cla: yes

#5705 feat: Automated regeneration of retail v2beta client
  generated/google-apis-retail_v2beta/CHANGELOG.md
  generated/google-apis-retail_v2beta/lib/google/apis/retail_v2beta/classes.rb
  generated/google-apis-retail_v2beta/lib/google/apis/retail_v2beta/gem_version.rb
  generated/google-apis-retail_v2beta/synth.metadata
Labels: automerge, cla: yes

#5707 feat: Automated regeneration of sts v1 client
  generated/google-apis-sts_v1/CHANGELOG.md
  generated/google-apis-sts_v1/lib/google/apis/sts_v1/classes.rb
  generated/google-apis-sts_v1/lib/google/apis/sts_v1/gem_version.rb
  generated/google-apis-sts_v1/synth.metadata
Labels: automerge, cla: yes

#5708 feat: Automated regeneration of sts v1beta client
  generated/google-apis-sts_v1beta/CHANGELOG.md
  generated/google-apis-sts_v1beta/lib/google/apis/sts_v1beta/classes.rb
  generated/google-apis-sts_v1beta/lib/google/apis/sts_v1beta/gem_version.rb
  generated/google-apis-sts_v1beta/synth.metadata
Labels: automerge, cla: yes

#5716 feat: Automated regeneration of calendar v3 client
  generated/google-apis-calendar_v3/CHANGELOG.md
  generated/google-apis-calendar_v3/lib/google/apis/calendar_v3/classes.rb
  generated/google-apis-calendar_v3/lib/google/apis/calendar_v3/gem_version.rb
  generated/google-apis-calendar_v3/synth.metadata
Labels: automerge, cla: yes

#5717 feat: Automated regeneration of storagetransfer v1 client
  generated/google-apis-storagetransfer_v1/CHANGELOG.md
  generated/google-apis-storagetransfer_v1/lib/google/apis/storagetransfer_v1/classes.rb
  generated/google-apis-storagetransfer_v1/lib/google/apis/storagetransfer_v1/gem_version.rb
  generated/google-apis-storagetransfer_v1/synth.metadata
Labels: automerge, cla: yes

#5720 feat: Automated regeneration of keep v1 client
  generated/google-apis-keep_v1/CHANGELOG.md
  generated/google-apis-keep_v1/lib/google/apis/keep_v1.rb
  generated/google-apis-keep_v1/lib/google/apis/keep_v1/gem_version.rb
  generated/google-apis-keep_v1/synth.metadata
Labels: automerge, cla: yes

#5724 feat: Automated regeneration of servicenetworking v1beta client
  generated/google-apis-servicenetworking_v1beta/CHANGELOG.md
  generated/google-apis-servicenetworking_v1beta/lib/google/apis/servicenetworking_v1beta/classes.rb
  generated/google-apis-servicenetworking_v1beta/lib/google/apis/servicenetworking_v1beta/gem_version.rb
  generated/google-apis-servicenetworking_v1beta/synth.metadata
Labels: automerge, cla: yes

#5725 feat: Automated regeneration of sheets v4 client
  generated/google-apis-sheets_v4/CHANGELOG.md
  generated/google-apis-sheets_v4/lib/google/apis/sheets_v4.rb
  generated/google-apis-sheets_v4/lib/google/apis/sheets_v4/gem_version.rb
  generated/google-apis-sheets_v4/synth.metadata
Labels: automerge, cla: yes

#5723 feat: Automated regeneration of servicenetworking v1 client
  generated/google-apis-servicenetworking_v1/CHANGELOG.md
  generated/google-apis-servicenetworking_v1/lib/google/apis/servicenetworking_v1/classes.rb
  generated/google-apis-servicenetworking_v1/lib/google/apis/servicenetworking_v1/gem_version.rb
  generated/google-apis-servicenetworking_v1/synth.metadata
Labels: automerge, cla: yes

#5726 feat: Automated regeneration of slides v1 client
  generated/google-apis-slides_v1/CHANGELOG.md
  generated/google-apis-slides_v1/lib/google/apis/slides_v1.rb
  generated/google-apis-slides_v1/lib/google/apis/slides_v1/classes.rb
  generated/google-apis-slides_v1/lib/google/apis/slides_v1/gem_version.rb
  generated/google-apis-slides_v1/synth.metadata
Labels: automerge, cla: yes

#5729 feat: Automated regeneration of dialogflow v3 client
  generated/google-apis-dialogflow_v3/CHANGELOG.md
  generated/google-apis-dialogflow_v3/lib/google/apis/dialogflow_v3/classes.rb
  generated/google-apis-dialogflow_v3/lib/google/apis/dialogflow_v3/gem_version.rb
  generated/google-apis-dialogflow_v3/synth.metadata
Labels: automerge, cla: yes

#5728 feat: Automated regeneration of dialogflow v2 client
  generated/google-apis-dialogflow_v2/CHANGELOG.md
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/classes.rb
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/gem_version.rb
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/service.rb
  generated/google-apis-dialogflow_v2/synth.metadata
Labels: automerge, cla: yes

#5730 feat: Automated regeneration of dialogflow v3beta1 client
  generated/google-apis-dialogflow_v3beta1/CHANGELOG.md
  generated/google-apis-dialogflow_v3beta1/lib/google/apis/dialogflow_v3beta1/classes.rb
  generated/google-apis-dialogflow_v3beta1/lib/google/apis/dialogflow_v3beta1/gem_version.rb
  generated/google-apis-dialogflow_v3beta1/synth.metadata
Labels: automerge, cla: yes

#5732 feat: Automated regeneration of managedidentities v1beta1 client
  generated/google-apis-managedidentities_v1beta1/CHANGELOG.md
  generated/google-apis-managedidentities_v1beta1/lib/google/apis/managedidentities_v1beta1/classes.rb
  generated/google-apis-managedidentities_v1beta1/lib/google/apis/managedidentities_v1beta1/gem_version.rb
  generated/google-apis-managedidentities_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5735 feat: Automated regeneration of serviceconsumermanagement v1 client
  generated/google-apis-serviceconsumermanagement_v1/CHANGELOG.md
  generated/google-apis-serviceconsumermanagement_v1/lib/google/apis/serviceconsumermanagement_v1/classes.rb
  generated/google-apis-serviceconsumermanagement_v1/lib/google/apis/serviceconsumermanagement_v1/gem_version.rb
  generated/google-apis-serviceconsumermanagement_v1/synth.metadata
Labels: automerge, cla: yes

#5736 feat: Automated regeneration of serviceconsumermanagement v1beta1 client
  generated/google-apis-serviceconsumermanagement_v1beta1/CHANGELOG.md
  generated/google-apis-serviceconsumermanagement_v1beta1/lib/google/apis/serviceconsumermanagement_v1beta1/classes.rb
  generated/google-apis-serviceconsumermanagement_v1beta1/lib/google/apis/serviceconsumermanagement_v1beta1/gem_version.rb
  generated/google-apis-serviceconsumermanagement_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5737 feat: Automated regeneration of serviceusage v1 client
  generated/google-apis-serviceusage_v1/CHANGELOG.md
  generated/google-apis-serviceusage_v1/lib/google/apis/serviceusage_v1/classes.rb
  generated/google-apis-serviceusage_v1/lib/google/apis/serviceusage_v1/gem_version.rb
  generated/google-apis-serviceusage_v1/synth.metadata
Labels: automerge, cla: yes

#5738 feat: Automated regeneration of serviceusage v1beta1 client
  generated/google-apis-serviceusage_v1beta1/CHANGELOG.md
  generated/google-apis-serviceusage_v1beta1/lib/google/apis/serviceusage_v1beta1/classes.rb
  generated/google-apis-serviceusage_v1beta1/lib/google/apis/serviceusage_v1beta1/gem_version.rb
  generated/google-apis-serviceusage_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5740 feat: Automated regeneration of displayvideo v1 client
  generated/google-apis-displayvideo_v1/CHANGELOG.md
  generated/google-apis-displayvideo_v1/lib/google/apis/displayvideo_v1/gem_version.rb
  generated/google-apis-displayvideo_v1/lib/google/apis/displayvideo_v1/service.rb
  generated/google-apis-displayvideo_v1/synth.metadata
Labels: automerge, cla: yes

#5742 feat: Automated regeneration of managedidentities v1alpha1 client
  generated/google-apis-managedidentities_v1alpha1/CHANGELOG.md
  generated/google-apis-managedidentities_v1alpha1/lib/google/apis/managedidentities_v1alpha1/classes.rb
  generated/google-apis-managedidentities_v1alpha1/lib/google/apis/managedidentities_v1alpha1/gem_version.rb
  generated/google-apis-managedidentities_v1alpha1/synth.metadata
Labels: automerge, cla: yes

#5743 feat: Automated regeneration of tpu v1 client
  generated/google-apis-tpu_v1/CHANGELOG.md
  generated/google-apis-tpu_v1/lib/google/apis/tpu_v1/classes.rb
  generated/google-apis-tpu_v1/lib/google/apis/tpu_v1/gem_version.rb
  generated/google-apis-tpu_v1/synth.metadata
Labels: automerge, cla: yes

#5747 feat: Automated regeneration of apigee v1 client
  generated/google-apis-apigee_v1/CHANGELOG.md
  generated/google-apis-apigee_v1/lib/google/apis/apigee_v1/gem_version.rb
  generated/google-apis-apigee_v1/lib/google/apis/apigee_v1/service.rb
  generated/google-apis-apigee_v1/synth.metadata
Labels: automerge, cla: yes

#5748 feat: Automated regeneration of cloudbuild v1 client
  generated/google-apis-cloudbuild_v1/CHANGELOG.md
  generated/google-apis-cloudbuild_v1/lib/google/apis/cloudbuild_v1/classes.rb
  generated/google-apis-cloudbuild_v1/lib/google/apis/cloudbuild_v1/gem_version.rb
  generated/google-apis-cloudbuild_v1/synth.metadata
Labels: automerge, cla: yes

#5750 feat: Automated regeneration of cloudbuild v1alpha2 client
  generated/google-apis-cloudbuild_v1alpha2/CHANGELOG.md
  generated/google-apis-cloudbuild_v1alpha2/lib/google/apis/cloudbuild_v1alpha2/classes.rb
  generated/google-apis-cloudbuild_v1alpha2/lib/google/apis/cloudbuild_v1alpha2/gem_version.rb
  generated/google-apis-cloudbuild_v1alpha2/synth.metadata
Labels: automerge, cla: yes

#5749 feat: Automated regeneration of cloudbuild v1alpha1 client
  generated/google-apis-cloudbuild_v1alpha1/CHANGELOG.md
  generated/google-apis-cloudbuild_v1alpha1/lib/google/apis/cloudbuild_v1alpha1/classes.rb
  generated/google-apis-cloudbuild_v1alpha1/lib/google/apis/cloudbuild_v1alpha1/gem_version.rb
  generated/google-apis-cloudbuild_v1alpha1/synth.metadata
Labels: automerge, cla: yes

#5758 feat: Automated regeneration of drive v3 client
  generated/google-apis-drive_v3/CHANGELOG.md
  generated/google-apis-drive_v3/lib/google/apis/drive_v3/gem_version.rb
  generated/google-apis-drive_v3/lib/google/apis/drive_v3/service.rb
  generated/google-apis-drive_v3/synth.metadata
Labels: automerge, cla: yes

#5757 feat: Automated regeneration of drive v2 client
  generated/google-apis-drive_v2/CHANGELOG.md
  generated/google-apis-drive_v2/lib/google/apis/drive_v2/gem_version.rb
  generated/google-apis-drive_v2/lib/google/apis/drive_v2/service.rb
  generated/google-apis-drive_v2/synth.metadata
Labels: automerge, cla: yes

#5761 feat: Automated regeneration of firebasehosting v1beta1 client
  generated/google-apis-firebasehosting_v1beta1/CHANGELOG.md
  generated/google-apis-firebasehosting_v1beta1/lib/google/apis/firebasehosting_v1beta1/classes.rb
  generated/google-apis-firebasehosting_v1beta1/lib/google/apis/firebasehosting_v1beta1/gem_version.rb
  generated/google-apis-firebasehosting_v1beta1/lib/google/apis/firebasehosting_v1beta1/representations.rb
  generated/google-apis-firebasehosting_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5763 feat: Automated regeneration of script v1 client
  generated/google-apis-script_v1/CHANGELOG.md
  generated/google-apis-script_v1/lib/google/apis/script_v1.rb
  generated/google-apis-script_v1/lib/google/apis/script_v1/gem_version.rb
  generated/google-apis-script_v1/synth.metadata
Labels: automerge, cla: yes

#5766 feat: Automated regeneration of admin reports_v1 client
  generated/google-apis-admin_reports_v1/CHANGELOG.md
  generated/google-apis-admin_reports_v1/lib/google/apis/admin_reports_v1/gem_version.rb
  generated/google-apis-admin_reports_v1/lib/google/apis/admin_reports_v1/service.rb
  generated/google-apis-admin_reports_v1/synth.metadata
Labels: automerge, cla: yes

#5768 feat: Automated regeneration of calendar v3 client
  generated/google-apis-calendar_v3/CHANGELOG.md
  generated/google-apis-calendar_v3/lib/google/apis/calendar_v3/classes.rb
  generated/google-apis-calendar_v3/lib/google/apis/calendar_v3/gem_version.rb
  generated/google-apis-calendar_v3/synth.metadata
Labels: automerge, cla: yes

#5769 feat: Automated regeneration of chat v1 client
  generated/google-apis-chat_v1/CHANGELOG.md
  generated/google-apis-chat_v1/lib/google/apis/chat_v1/classes.rb
  generated/google-apis-chat_v1/lib/google/apis/chat_v1/gem_version.rb
  generated/google-apis-chat_v1/lib/google/apis/chat_v1/representations.rb
  generated/google-apis-chat_v1/synth.metadata
Labels: automerge, cla: yes

#5771 feat: Automated regeneration of cloudidentity v1beta1 client
  generated/google-apis-cloudidentity_v1beta1/CHANGELOG.md
  generated/google-apis-cloudidentity_v1beta1/lib/google/apis/cloudidentity_v1beta1/gem_version.rb
  generated/google-apis-cloudidentity_v1beta1/lib/google/apis/cloudidentity_v1beta1/service.rb
  generated/google-apis-cloudidentity_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5774 feat: Automated regeneration of composer v1 client
  generated/google-apis-composer_v1/CHANGELOG.md
  generated/google-apis-composer_v1/lib/google/apis/composer_v1/gem_version.rb
  generated/google-apis-composer_v1/lib/google/apis/composer_v1/service.rb
  generated/google-apis-composer_v1/synth.metadata
Labels: automerge, cla: yes

#5779 feat: Automated regeneration of gkehub v1alpha client
  generated/google-apis-gkehub_v1alpha/CHANGELOG.md
  generated/google-apis-gkehub_v1alpha/lib/google/apis/gkehub_v1alpha/classes.rb
  generated/google-apis-gkehub_v1alpha/lib/google/apis/gkehub_v1alpha/gem_version.rb
  generated/google-apis-gkehub_v1alpha/synth.metadata
Labels: automerge, cla: yes

#5781 feat: Automated regeneration of gkehub v1beta client
  generated/google-apis-gkehub_v1beta/CHANGELOG.md
  generated/google-apis-gkehub_v1beta/lib/google/apis/gkehub_v1beta/classes.rb
  generated/google-apis-gkehub_v1beta/lib/google/apis/gkehub_v1beta/gem_version.rb
  generated/google-apis-gkehub_v1beta/synth.metadata
Labels: automerge, cla: yes

#5785 feat: Automated regeneration of recommendationengine v1beta1 client
  generated/google-apis-recommendationengine_v1beta1/CHANGELOG.md
  generated/google-apis-recommendationengine_v1beta1/lib/google/apis/recommendationengine_v1beta1/classes.rb
  generated/google-apis-recommendationengine_v1beta1/lib/google/apis/recommendationengine_v1beta1/gem_version.rb
  generated/google-apis-recommendationengine_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5788 feat: Automated regeneration of retail v2beta client
  generated/google-apis-retail_v2beta/CHANGELOG.md
  generated/google-apis-retail_v2beta/lib/google/apis/retail_v2beta/classes.rb
  generated/google-apis-retail_v2beta/lib/google/apis/retail_v2beta/gem_version.rb
  generated/google-apis-retail_v2beta/synth.metadata
Labels: automerge, cla: yes

#5787 feat: Automated regeneration of retail v2 client
  generated/google-apis-retail_v2/CHANGELOG.md
  generated/google-apis-retail_v2/lib/google/apis/retail_v2/classes.rb
  generated/google-apis-retail_v2/lib/google/apis/retail_v2/gem_version.rb
  generated/google-apis-retail_v2/synth.metadata
Labels: automerge, cla: yes

#5791 feat: Automated regeneration of storagetransfer v1 client
  generated/google-apis-storagetransfer_v1/CHANGELOG.md
  generated/google-apis-storagetransfer_v1/lib/google/apis/storagetransfer_v1/classes.rb
  generated/google-apis-storagetransfer_v1/lib/google/apis/storagetransfer_v1/gem_version.rb
  generated/google-apis-storagetransfer_v1/synth.metadata
Labels: automerge, cla: yes

#5793 feat: Automated regeneration of androidmanagement v1 client
  generated/google-apis-androidmanagement_v1/CHANGELOG.md
  generated/google-apis-androidmanagement_v1/lib/google/apis/androidmanagement_v1/classes.rb
  generated/google-apis-androidmanagement_v1/lib/google/apis/androidmanagement_v1/gem_version.rb
  generated/google-apis-androidmanagement_v1/lib/google/apis/androidmanagement_v1/service.rb
  generated/google-apis-androidmanagement_v1/synth.metadata
Labels: automerge, cla: yes

#5797 feat: Automated regeneration of testing v1 client
  generated/google-apis-testing_v1/CHANGELOG.md
  generated/google-apis-testing_v1/lib/google/apis/testing_v1/classes.rb
  generated/google-apis-testing_v1/lib/google/apis/testing_v1/gem_version.rb
  generated/google-apis-testing_v1/synth.metadata
Labels: automerge, cla: yes

#5800 feat: Automated regeneration of logging v2 client
  generated/google-apis-logging_v2/CHANGELOG.md
  generated/google-apis-logging_v2/lib/google/apis/logging_v2/classes.rb
  generated/google-apis-logging_v2/lib/google/apis/logging_v2/gem_version.rb
  generated/google-apis-logging_v2/synth.metadata
Labels: automerge, cla: yes

#5801 feat: Automated regeneration of monitoring v1 client
  generated/google-apis-monitoring_v1/CHANGELOG.md
  generated/google-apis-monitoring_v1/lib/google/apis/monitoring_v1.rb
  generated/google-apis-monitoring_v1/lib/google/apis/monitoring_v1/classes.rb
  generated/google-apis-monitoring_v1/lib/google/apis/monitoring_v1/gem_version.rb
  generated/google-apis-monitoring_v1/lib/google/apis/monitoring_v1/representations.rb
  generated/google-apis-monitoring_v1/lib/google/apis/monitoring_v1/service.rb
  generated/google-apis-monitoring_v1/synth.metadata
Labels: automerge, cla: yes

#5802 feat: Automated regeneration of monitoring v3 client
  generated/google-apis-monitoring_v3/CHANGELOG.md
  generated/google-apis-monitoring_v3/lib/google/apis/monitoring_v3.rb
  generated/google-apis-monitoring_v3/lib/google/apis/monitoring_v3/classes.rb
  generated/google-apis-monitoring_v3/lib/google/apis/monitoring_v3/gem_version.rb
  generated/google-apis-monitoring_v3/lib/google/apis/monitoring_v3/service.rb
  generated/google-apis-monitoring_v3/synth.metadata
Labels: automerge, cla: yes

#5803 feat: Automated regeneration of people v1 client
  generated/google-apis-people_v1/CHANGELOG.md
  generated/google-apis-people_v1/lib/google/apis/people_v1/classes.rb
  generated/google-apis-people_v1/lib/google/apis/people_v1/gem_version.rb
  generated/google-apis-people_v1/lib/google/apis/people_v1/service.rb
  generated/google-apis-people_v1/synth.metadata
Labels: automerge, cla: yes

#5805 feat: Automated regeneration of servicemanagement v1 client
  generated/google-apis-servicemanagement_v1/CHANGELOG.md
  generated/google-apis-servicemanagement_v1/lib/google/apis/servicemanagement_v1/classes.rb
  generated/google-apis-servicemanagement_v1/lib/google/apis/servicemanagement_v1/gem_version.rb
  generated/google-apis-servicemanagement_v1/synth.metadata
Labels: automerge, cla: yes

#5806 feat: Automated regeneration of networksecurity v1beta1 client
  generated/google-apis-networksecurity_v1beta1/CHANGELOG.md
  generated/google-apis-networksecurity_v1beta1/lib/google/apis/networksecurity_v1beta1/classes.rb
  generated/google-apis-networksecurity_v1beta1/lib/google/apis/networksecurity_v1beta1/gem_version.rb
  generated/google-apis-networksecurity_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5807 feat: Automated regeneration of firebaserules v1 client
  generated/google-apis-firebaserules_v1/CHANGELOG.md
  generated/google-apis-firebaserules_v1/lib/google/apis/firebaserules_v1/gem_version.rb
  generated/google-apis-firebaserules_v1/lib/google/apis/firebaserules_v1/service.rb
  generated/google-apis-firebaserules_v1/synth.metadata
Labels: automerge, cla: yes

#5772 feat: Automated regeneration of cloudkms v1 client
  generated/google-apis-cloudkms_v1/CHANGELOG.md
  generated/google-apis-cloudkms_v1/lib/google/apis/cloudkms_v1/classes.rb
  generated/google-apis-cloudkms_v1/lib/google/apis/cloudkms_v1/gem_version.rb
  generated/google-apis-cloudkms_v1/synth.metadata
Labels: automerge, cla: yes

#5704 feat: Automated regeneration of retail v2alpha client
  generated/google-apis-retail_v2alpha/CHANGELOG.md
  generated/google-apis-retail_v2alpha/lib/google/apis/retail_v2alpha/classes.rb
  generated/google-apis-retail_v2alpha/lib/google/apis/retail_v2alpha/gem_version.rb
  generated/google-apis-retail_v2alpha/synth.metadata
Labels: automerge, cla: yes

#5809 fix(core): Prevent duplicated pagination when a response returns an empty string as the next page token
  google-apis-core/lib/google/apis/core/base_service.rb
  google-apis-core/spec/google/apis/core/service_spec.rb
Labels: cla: yes

#5810 chore: release google-apis-core 0.4.1
  google-apis-core/CHANGELOG.md
  google-apis-core/lib/google/apis/core/version.rb
Labels: autorelease: pending, cla: yes

#5812 feat: Automated regeneration of admob v1beta client
  generated/google-apis-admob_v1beta/CHANGELOG.md
  generated/google-apis-admob_v1beta/lib/google/apis/admob_v1beta/classes.rb
  generated/google-apis-admob_v1beta/lib/google/apis/admob_v1beta/gem_version.rb
  generated/google-apis-admob_v1beta/synth.metadata
Labels: automerge, cla: yes

#5811 feat: Automated regeneration of admob v1 client
  generated/google-apis-admob_v1/CHANGELOG.md
  generated/google-apis-admob_v1/lib/google/apis/admob_v1/classes.rb
  generated/google-apis-admob_v1/lib/google/apis/admob_v1/gem_version.rb
  generated/google-apis-admob_v1/synth.metadata
Labels: automerge, cla: yes

#5813 feat: Automated regeneration of alertcenter v1beta1 client
  generated/google-apis-alertcenter_v1beta1/CHANGELOG.md
  generated/google-apis-alertcenter_v1beta1/lib/google/apis/alertcenter_v1beta1/classes.rb
  generated/google-apis-alertcenter_v1beta1/lib/google/apis/alertcenter_v1beta1/gem_version.rb
  generated/google-apis-alertcenter_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5819 feat: Automated regeneration of content v2.1 client
  generated/google-apis-content_v2_1/CHANGELOG.md
  generated/google-apis-content_v2_1/lib/google/apis/content_v2_1/classes.rb
  generated/google-apis-content_v2_1/lib/google/apis/content_v2_1/gem_version.rb
  generated/google-apis-content_v2_1/lib/google/apis/content_v2_1/service.rb
  generated/google-apis-content_v2_1/synth.metadata
Labels: automerge, cla: yes

#5823 feat: Automated regeneration of privateca v1 client
  generated/google-apis-privateca_v1/CHANGELOG.md
  generated/google-apis-privateca_v1/lib/google/apis/privateca_v1/gem_version.rb
  generated/google-apis-privateca_v1/lib/google/apis/privateca_v1/service.rb
  generated/google-apis-privateca_v1/synth.metadata
Labels: automerge, cla: yes

#5824 feat: Automated regeneration of retail v2alpha client
  generated/google-apis-retail_v2alpha/CHANGELOG.md
  generated/google-apis-retail_v2alpha/lib/google/apis/retail_v2alpha/classes.rb
  generated/google-apis-retail_v2alpha/lib/google/apis/retail_v2alpha/gem_version.rb
  generated/google-apis-retail_v2alpha/synth.metadata
Labels: automerge, cla: yes

#5830 feat: Automated regeneration of admin reports_v1 client
  generated/google-apis-admin_reports_v1/CHANGELOG.md
  generated/google-apis-admin_reports_v1/OVERVIEW.md
  generated/google-apis-admin_reports_v1/lib/google/apis/admin_reports_v1.rb
  generated/google-apis-admin_reports_v1/lib/google/apis/admin_reports_v1/gem_version.rb
  generated/google-apis-admin_reports_v1/lib/google/apis/admin_reports_v1/service.rb
  generated/google-apis-admin_reports_v1/synth.metadata
Labels: automerge, cla: yes

#5829 feat: Automated regeneration of admin directory_v1 client
  generated/google-apis-admin_directory_v1/CHANGELOG.md
  generated/google-apis-admin_directory_v1/OVERVIEW.md
  generated/google-apis-admin_directory_v1/lib/google/apis/admin_directory_v1.rb
  generated/google-apis-admin_directory_v1/lib/google/apis/admin_directory_v1/gem_version.rb
  generated/google-apis-admin_directory_v1/lib/google/apis/admin_directory_v1/service.rb
  generated/google-apis-admin_directory_v1/synth.metadata
Labels: automerge, cla: yes

#5828 feat: Automated regeneration of admin datatransfer_v1 client
  generated/google-apis-admin_datatransfer_v1/CHANGELOG.md
  generated/google-apis-admin_datatransfer_v1/OVERVIEW.md
  generated/google-apis-admin_datatransfer_v1/lib/google/apis/admin_datatransfer_v1.rb
  generated/google-apis-admin_datatransfer_v1/lib/google/apis/admin_datatransfer_v1/gem_version.rb
  generated/google-apis-admin_datatransfer_v1/lib/google/apis/admin_datatransfer_v1/service.rb
  generated/google-apis-admin_datatransfer_v1/synth.metadata
Labels: automerge, cla: yes

#5831 feat: Automated regeneration of analyticsadmin v1alpha client
  generated/google-apis-analyticsadmin_v1alpha/CHANGELOG.md
  generated/google-apis-analyticsadmin_v1alpha/lib/google/apis/analyticsadmin_v1alpha/classes.rb
  generated/google-apis-analyticsadmin_v1alpha/lib/google/apis/analyticsadmin_v1alpha/gem_version.rb
  generated/google-apis-analyticsadmin_v1alpha/synth.metadata
Labels: automerge, cla: yes

#5832 feat: Automated regeneration of androidpublisher v3 client
  generated/google-apis-androidpublisher_v3/CHANGELOG.md
  generated/google-apis-androidpublisher_v3/lib/google/apis/androidpublisher_v3/classes.rb
  generated/google-apis-androidpublisher_v3/lib/google/apis/androidpublisher_v3/gem_version.rb
  generated/google-apis-androidpublisher_v3/lib/google/apis/androidpublisher_v3/service.rb
  generated/google-apis-androidpublisher_v3/synth.metadata
Labels: automerge, cla: yes

#5834 feat: Automated regeneration of cloudasset v1 client
  generated/google-apis-cloudasset_v1/CHANGELOG.md
  generated/google-apis-cloudasset_v1/lib/google/apis/cloudasset_v1/gem_version.rb
  generated/google-apis-cloudasset_v1/lib/google/apis/cloudasset_v1/service.rb
  generated/google-apis-cloudasset_v1/synth.metadata
Labels: automerge, cla: yes

#5835 feat: Automated regeneration of container v1 client
  generated/google-apis-container_v1/CHANGELOG.md
  generated/google-apis-container_v1/lib/google/apis/container_v1/classes.rb
  generated/google-apis-container_v1/lib/google/apis/container_v1/gem_version.rb
  generated/google-apis-container_v1/synth.metadata
Labels: automerge, cla: yes

#5836 feat: Automated regeneration of notebooks v1 client
  generated/google-apis-notebooks_v1/CHANGELOG.md
  generated/google-apis-notebooks_v1/lib/google/apis/notebooks_v1/classes.rb
  generated/google-apis-notebooks_v1/lib/google/apis/notebooks_v1/gem_version.rb
  generated/google-apis-notebooks_v1/synth.metadata
Labels: automerge, cla: yes

#5838 feat: Automated regeneration of bigquerydatatransfer v1 client
  generated/google-apis-bigquerydatatransfer_v1/CHANGELOG.md
  generated/google-apis-bigquerydatatransfer_v1/lib/google/apis/bigquerydatatransfer_v1/gem_version.rb
  generated/google-apis-bigquerydatatransfer_v1/lib/google/apis/bigquerydatatransfer_v1/service.rb
  generated/google-apis-bigquerydatatransfer_v1/synth.metadata
Labels: automerge, cla: yes

#5839 feat: Automated regeneration of cloudfunctions v1 client
  generated/google-apis-cloudfunctions_v1/CHANGELOG.md
  generated/google-apis-cloudfunctions_v1/lib/google/apis/cloudfunctions_v1/classes.rb
  generated/google-apis-cloudfunctions_v1/lib/google/apis/cloudfunctions_v1/gem_version.rb
  generated/google-apis-cloudfunctions_v1/synth.metadata
Labels: automerge, cla: yes

#5840 feat: Automated regeneration of container v1beta1 client
  generated/google-apis-container_v1beta1/CHANGELOG.md
  generated/google-apis-container_v1beta1/lib/google/apis/container_v1beta1/classes.rb
  generated/google-apis-container_v1beta1/lib/google/apis/container_v1beta1/gem_version.rb
  generated/google-apis-container_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5841 feat: Automated regeneration of people v1 client
  generated/google-apis-people_v1/CHANGELOG.md
  generated/google-apis-people_v1/lib/google/apis/people_v1/gem_version.rb
  generated/google-apis-people_v1/lib/google/apis/people_v1/service.rb
  generated/google-apis-people_v1/synth.metadata
Labels: automerge, cla: yes

#5842 feat: Automated regeneration of reseller v1 client
  generated/google-apis-reseller_v1/CHANGELOG.md
  generated/google-apis-reseller_v1/lib/google/apis/reseller_v1/classes.rb
  generated/google-apis-reseller_v1/lib/google/apis/reseller_v1/gem_version.rb
  generated/google-apis-reseller_v1/lib/google/apis/reseller_v1/service.rb
  generated/google-apis-reseller_v1/synth.metadata
Labels: automerge, cla: yes

#5843 feat: Automated regeneration of run v1 client
  generated/google-apis-run_v1/CHANGELOG.md
  generated/google-apis-run_v1/lib/google/apis/run_v1.rb
  generated/google-apis-run_v1/lib/google/apis/run_v1/classes.rb
  generated/google-apis-run_v1/lib/google/apis/run_v1/gem_version.rb
  generated/google-apis-run_v1/lib/google/apis/run_v1/service.rb
  generated/google-apis-run_v1/synth.metadata
Labels: automerge, cla: yes

#5851 feat: Automated regeneration of servicedirectory v1beta1 client
  generated/google-apis-servicedirectory_v1beta1/CHANGELOG.md
  generated/google-apis-servicedirectory_v1beta1/lib/google/apis/servicedirectory_v1beta1/classes.rb
  generated/google-apis-servicedirectory_v1beta1/lib/google/apis/servicedirectory_v1beta1/gem_version.rb
  generated/google-apis-servicedirectory_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5850 feat: Automated regeneration of servicedirectory v1 client
  generated/google-apis-servicedirectory_v1/CHANGELOG.md
  generated/google-apis-servicedirectory_v1/lib/google/apis/servicedirectory_v1/classes.rb
  generated/google-apis-servicedirectory_v1/lib/google/apis/servicedirectory_v1/gem_version.rb
  generated/google-apis-servicedirectory_v1/synth.metadata
Labels: automerge, cla: yes

#5854 feat: Automated regeneration of assuredworkloads v1 client
  generated/google-apis-assuredworkloads_v1/CHANGELOG.md
  generated/google-apis-assuredworkloads_v1/lib/google/apis/assuredworkloads_v1/classes.rb
  generated/google-apis-assuredworkloads_v1/lib/google/apis/assuredworkloads_v1/gem_version.rb
  generated/google-apis-assuredworkloads_v1/synth.metadata
Labels: automerge, cla: yes

#5861 feat: Automated regeneration of healthcare v1beta1 client
  generated/google-apis-healthcare_v1beta1/CHANGELOG.md
  generated/google-apis-healthcare_v1beta1/lib/google/apis/healthcare_v1beta1/gem_version.rb
  generated/google-apis-healthcare_v1beta1/lib/google/apis/healthcare_v1beta1/service.rb
  generated/google-apis-healthcare_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5863 feat: Automated regeneration of monitoring v3 client
  generated/google-apis-monitoring_v3/CHANGELOG.md
  generated/google-apis-monitoring_v3/lib/google/apis/monitoring_v3/classes.rb
  generated/google-apis-monitoring_v3/lib/google/apis/monitoring_v3/gem_version.rb
  generated/google-apis-monitoring_v3/synth.metadata
Labels: automerge, cla: yes

#5864 feat: Automated regeneration of mybusinessnotifications v1 client
  generated/google-apis-mybusinessnotifications_v1/CHANGELOG.md
  generated/google-apis-mybusinessnotifications_v1/lib/google/apis/mybusinessnotifications_v1/classes.rb
  generated/google-apis-mybusinessnotifications_v1/lib/google/apis/mybusinessnotifications_v1/gem_version.rb
  generated/google-apis-mybusinessnotifications_v1/lib/google/apis/mybusinessnotifications_v1/service.rb
  generated/google-apis-mybusinessnotifications_v1/synth.metadata
Labels: automerge, cla: yes

#5865 feat: Automated regeneration of privateca v1beta1 client
  generated/google-apis-privateca_v1beta1/CHANGELOG.md
  generated/google-apis-privateca_v1beta1/lib/google/apis/privateca_v1beta1/classes.rb
  generated/google-apis-privateca_v1beta1/lib/google/apis/privateca_v1beta1/gem_version.rb
  generated/google-apis-privateca_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5866 feat: Automated regeneration of androidenterprise v1 client
  generated/google-apis-androidenterprise_v1/CHANGELOG.md
  generated/google-apis-androidenterprise_v1/lib/google/apis/androidenterprise_v1/gem_version.rb
  generated/google-apis-androidenterprise_v1/lib/google/apis/androidenterprise_v1/service.rb
  generated/google-apis-androidenterprise_v1/synth.metadata
Labels: automerge, cla: yes

#5870 feat: Automated regeneration of cloudasset v1p1beta1 client
  generated/google-apis-cloudasset_v1p1beta1/CHANGELOG.md
  generated/google-apis-cloudasset_v1p1beta1/lib/google/apis/cloudasset_v1p1beta1/classes.rb
  generated/google-apis-cloudasset_v1p1beta1/lib/google/apis/cloudasset_v1p1beta1/gem_version.rb
  generated/google-apis-cloudasset_v1p1beta1/synth.metadata
Labels: automerge, cla: yes

#5871 feat: Automated regeneration of cloudasset v1p4beta1 client
  generated/google-apis-cloudasset_v1p4beta1/CHANGELOG.md
  generated/google-apis-cloudasset_v1p4beta1/lib/google/apis/cloudasset_v1p4beta1/classes.rb
  generated/google-apis-cloudasset_v1p4beta1/lib/google/apis/cloudasset_v1p4beta1/gem_version.rb
  generated/google-apis-cloudasset_v1p4beta1/synth.metadata
Labels: automerge, cla: yes

#5872 feat: Automated regeneration of cloudasset v1p5beta1 client
  generated/google-apis-cloudasset_v1p5beta1/CHANGELOG.md
  generated/google-apis-cloudasset_v1p5beta1/lib/google/apis/cloudasset_v1p5beta1/classes.rb
  generated/google-apis-cloudasset_v1p5beta1/lib/google/apis/cloudasset_v1p5beta1/gem_version.rb
  generated/google-apis-cloudasset_v1p5beta1/synth.metadata
Labels: automerge, cla: yes

#5873 feat: Automated regeneration of cloudasset v1p7beta1 client
  generated/google-apis-cloudasset_v1p7beta1/CHANGELOG.md
  generated/google-apis-cloudasset_v1p7beta1/lib/google/apis/cloudasset_v1p7beta1/classes.rb
  generated/google-apis-cloudasset_v1p7beta1/lib/google/apis/cloudasset_v1p7beta1/gem_version.rb
  generated/google-apis-cloudasset_v1p7beta1/synth.metadata
Labels: automerge, cla: yes

#5868 feat: Automated regeneration of cloudasset v1 client
  generated/google-apis-cloudasset_v1/CHANGELOG.md
  generated/google-apis-cloudasset_v1/lib/google/apis/cloudasset_v1/classes.rb
  generated/google-apis-cloudasset_v1/lib/google/apis/cloudasset_v1/gem_version.rb
  generated/google-apis-cloudasset_v1/synth.metadata
Labels: automerge, cla: yes

#5869 feat: Automated regeneration of cloudasset v1beta1 client
  generated/google-apis-cloudasset_v1beta1/CHANGELOG.md
  generated/google-apis-cloudasset_v1beta1/lib/google/apis/cloudasset_v1beta1/classes.rb
  generated/google-apis-cloudasset_v1beta1/lib/google/apis/cloudasset_v1beta1/gem_version.rb
  generated/google-apis-cloudasset_v1beta1/synth.metadata
Labels: automerge, cla: yes

#5874 feat: Automated regeneration of datacatalog v1 client
  generated/google-apis-datacatalog_v1/CHANGELOG.md
  generated/google-apis-datacatalog_v1/lib/google/apis/datacatalog_v1/classes.rb
  generated/google-apis-datacatalog_v1/lib/google/apis/datacatalog_v1/gem_version.rb
  generated/google-apis-datacatalog_v1/lib/google/apis/datacatalog_v1/service.rb
  generated/google-apis-datacatalog_v1/synth.metadata
Labels: automerge, cla: yes

#5875 feat: Automated regeneration of dlp v2 client
  generated/google-apis-dlp_v2/CHANGELOG.md
  generated/google-apis-dlp_v2/lib/google/apis/dlp_v2/classes.rb
  generated/google-apis-dlp_v2/lib/google/apis/dlp_v2/gem_version.rb
  generated/google-apis-dlp_v2/synth.metadata
Labels: automerge, cla: yes

#5876 feat: Automated regeneration of documentai v1 client
  generated/google-apis-documentai_v1/CHANGELOG.md
  generated/google-apis-documentai_v1/lib/google/apis/documentai_v1/classes.rb
  generated/google-apis-documentai_v1/lib/google/apis/documentai_v1/gem_version.rb
  generated/google-apis-documentai_v1/synth.metadata
Labels: automerge, cla: yes

#5878 feat: Automated regeneration of documentai v1beta3 client
  generated/google-apis-documentai_v1beta3/CHANGELOG.md
  generated/google-apis-documentai_v1beta3/lib/google/apis/documentai_v1beta3/classes.rb
  generated/google-apis-documentai_v1beta3/lib/google/apis/documentai_v1beta3/gem_version.rb
  generated/google-apis-documentai_v1beta3/synth.metadata
Labels: automerge, cla: yes

#5877 feat: Automated regeneration of documentai v1beta2 client
  generated/google-apis-documentai_v1beta2/CHANGELOG.md
  generated/google-apis-documentai_v1beta2/lib/google/apis/documentai_v1beta2/classes.rb
  generated/google-apis-documentai_v1beta2/lib/google/apis/documentai_v1beta2/gem_version.rb
  generated/google-apis-documentai_v1beta2/synth.metadata
Labels: automerge, cla: yes

#5880 feat: Automated regeneration of file v1 client
  generated/google-apis-file_v1/CHANGELOG.md
  generated/google-apis-file_v1/lib/google/apis/file_v1/classes.rb
  generated/google-apis-file_v1/lib/google/apis/file_v1/gem_version.rb
  generated/google-apis-file_v1/synth.metadata
Labels: automerge, cla: yes

#5879 feat: Automated regeneration of fcm v1 client
  generated/google-apis-fcm_v1/CHANGELOG.md
  generated/google-apis-fcm_v1/lib/google/apis/fcm_v1.rb
  generated/google-apis-fcm_v1/lib/google/apis/fcm_v1/gem_version.rb
  generated/google-apis-fcm_v1/synth.metadata
Labels: automerge, cla: yes

#5882 feat: Automated regeneration of notebooks v1 client
  generated/google-apis-notebooks_v1/CHANGELOG.md
  generated/google-apis-notebooks_v1/lib/google/apis/notebooks_v1/gem_version.rb
  generated/google-apis-notebooks_v1/lib/google/apis/notebooks_v1/service.rb
  generated/google-apis-notebooks_v1/synth.metadata
Labels: automerge, cla: yes

#5883 feat: Automated regeneration of people v1 client
  generated/google-apis-people_v1/CHANGELOG.md
  generated/google-apis-people_v1/lib/google/apis/people_v1/gem_version.rb
  generated/google-apis-people_v1/lib/google/apis/people_v1/service.rb
  generated/google-apis-people_v1/synth.metadata
Labels: automerge, cla: yes

#5884 feat: Automated regeneration of privateca v1 client
  generated/google-apis-privateca_v1/CHANGELOG.md
  generated/google-apis-privateca_v1/lib/google/apis/privateca_v1/classes.rb
  generated/google-apis-privateca_v1/lib/google/apis/privateca_v1/gem_version.rb
  generated/google-apis-privateca_v1/synth.metadata
Labels: automerge, cla: yes

#5885 feat: Automated regeneration of androidmanagement v1 client
  generated/google-apis-androidmanagement_v1/CHANGELOG.md
  generated/google-apis-androidmanagement_v1/lib/google/apis/androidmanagement_v1/classes.rb
  generated/google-apis-androidmanagement_v1/lib/google/apis/androidmanagement_v1/gem_version.rb
  generated/google-apis-androidmanagement_v1/synth.metadata
Labels: automerge, cla: yes

#5892 feat: Automated regeneration of documentai v1 client
  generated/google-apis-documentai_v1/CHANGELOG.md
  generated/google-apis-documentai_v1/lib/google/apis/documentai_v1/classes.rb
  generated/google-apis-documentai_v1/lib/google/apis/documentai_v1/gem_version.rb
  generated/google-apis-documentai_v1/synth.metadata
Labels: automerge, cla: yes

#5894 feat: Automated regeneration of documentai v1beta3 client
  generated/google-apis-documentai_v1beta3/CHANGELOG.md
  generated/google-apis-documentai_v1beta3/lib/google/apis/documentai_v1beta3/classes.rb
  generated/google-apis-documentai_v1beta3/lib/google/apis/documentai_v1beta3/gem_version.rb
  generated/google-apis-documentai_v1beta3/synth.metadata
Labels: automerge, cla: yes

#5893 feat: Automated regeneration of documentai v1beta2 client
  generated/google-apis-documentai_v1beta2/CHANGELOG.md
  generated/google-apis-documentai_v1beta2/lib/google/apis/documentai_v1beta2/classes.rb
  generated/google-apis-documentai_v1beta2/lib/google/apis/documentai_v1beta2/gem_version.rb
  generated/google-apis-documentai_v1beta2/synth.metadata
Labels: automerge, cla: yes

#5896 feat: Automated regeneration of drive v3 client
  generated/google-apis-drive_v3/CHANGELOG.md
  generated/google-apis-drive_v3/lib/google/apis/drive_v3/classes.rb
  generated/google-apis-drive_v3/lib/google/apis/drive_v3/gem_version.rb
  generated/google-apis-drive_v3/lib/google/apis/drive_v3/service.rb
  generated/google-apis-drive_v3/synth.metadata
Labels: automerge, cla: yes

#5895 feat: Automated regeneration of drive v2 client
  generated/google-apis-drive_v2/CHANGELOG.md
  generated/google-apis-drive_v2/lib/google/apis/drive_v2/classes.rb
  generated/google-apis-drive_v2/lib/google/apis/drive_v2/gem_version.rb
  generated/google-apis-drive_v2/lib/google/apis/drive_v2/service.rb
  generated/google-apis-drive_v2/synth.metadata
Labels: automerge, cla: yes

#5898 feat: Automated regeneration of iam v1 client
  generated/google-apis-iam_v1/CHANGELOG.md
  generated/google-apis-iam_v1/lib/google/apis/iam_v1/classes.rb
  generated/google-apis-iam_v1/lib/google/apis/iam_v1/gem_version.rb
  generated/google-apis-iam_v1/synth.metadata
Labels: automerge, cla: yes

#5903 feat: Automated regeneration of sqladmin v1beta4 client
  generated/google-apis-sqladmin_v1beta4/CHANGELOG.md
  generated/google-apis-sqladmin_v1beta4/lib/google/apis/sqladmin_v1beta4/classes.rb
  generated/google-apis-sqladmin_v1beta4/lib/google/apis/sqladmin_v1beta4/gem_version.rb
  generated/google-apis-sqladmin_v1beta4/lib/google/apis/sqladmin_v1beta4/service.rb
  generated/google-apis-sqladmin_v1beta4/synth.metadata
Labels: automerge, cla: yes

#5907 feat: Automated regeneration of cloudchannel v1 client
  generated/google-apis-cloudchannel_v1/CHANGELOG.md
  generated/google-apis-cloudchannel_v1/lib/google/apis/cloudchannel_v1.rb
  generated/google-apis-cloudchannel_v1/lib/google/apis/cloudchannel_v1/gem_version.rb
  generated/google-apis-cloudchannel_v1/lib/google/apis/cloudchannel_v1/service.rb
  generated/google-apis-cloudchannel_v1/synth.metadata
Labels: automerge, cla: yes

#5908 feat: Automated regeneration of dialogflow v2 client
  generated/google-apis-dialogflow_v2/CHANGELOG.md
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/classes.rb
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/gem_version.rb
  generated/google-apis-dialogflow_v2/synth.metadata
Labels: automerge, cla: yes

#5904 chore: add CODEOWNERS
  .github/CODEOWNERS
Labels: cla: yes

#5919 feat: Automated regeneration of jobs v4 client
  generated/google-apis-jobs_v4/CHANGELOG.md
  generated/google-apis-jobs_v4/lib/google/apis/jobs_v4/gem_version.rb
  generated/google-apis-jobs_v4/lib/google/apis/jobs_v4/service.rb
  generated/google-apis-jobs_v4/synth.metadata
Labels: automerge, cla: yes

#5918 feat: Automated regeneration of jobs v3p1beta1 client
  generated/google-apis-jobs_v3p1beta1/CHANGELOG.md
  generated/google-apis-jobs_v3p1beta1/lib/google/apis/jobs_v3p1beta1/gem_version.rb
  generated/google-apis-jobs_v3p1beta1/lib/google/apis/jobs_v3p1beta1/service.rb
  generated/google-apis-jobs_v3p1beta1/synth.metadata
Labels: automerge, cla: yes

#5917 feat: Automated regeneration of jobs v3 client
  generated/google-apis-jobs_v3/CHANGELOG.md
  generated/google-apis-jobs_v3/lib/google/apis/jobs_v3/gem_version.rb
  generated/google-apis-jobs_v3/lib/google/apis/jobs_v3/service.rb
  generated/google-apis-jobs_v3/synth.metadata
Labels: automerge, cla: yes

#5922 feat: Automated regeneration of spanner v1 client
  generated/google-apis-spanner_v1/CHANGELOG.md
  generated/google-apis-spanner_v1/lib/google/apis/spanner_v1/classes.rb
  generated/google-apis-spanner_v1/lib/google/apis/spanner_v1/gem_version.rb
  generated/google-apis-spanner_v1/synth.metadata
Labels: automerge, cla: yes

#5925 feat: Automated regeneration of sts v1 client
  generated/google-apis-sts_v1/CHANGELOG.md
  generated/google-apis-sts_v1/lib/google/apis/sts_v1/classes.rb
  generated/google-apis-sts_v1/lib/google/apis/sts_v1/gem_version.rb
  generated/google-apis-sts_v1/synth.metadata
Labels: automerge, cla: yes

#5926 feat: Automated regeneration of sts v1beta client
  generated/google-apis-sts_v1beta/CHANGELOG.md
  generated/google-apis-sts_v1beta/lib/google/apis/sts_v1beta/classes.rb
  generated/google-apis-sts_v1beta/lib/google/apis/sts_v1beta/gem_version.rb
  generated/google-apis-sts_v1beta/synth.metadata
Labels: automerge, cla: yes

#5923 feat: Automated regeneration of speech v1p1beta1 client
  generated/google-apis-speech_v1p1beta1/CHANGELOG.md
  generated/google-apis-speech_v1p1beta1/lib/google/apis/speech_v1p1beta1/classes.rb
  generated/google-apis-speech_v1p1beta1/lib/google/apis/speech_v1p1beta1/gem_version.rb
  generated/google-apis-speech_v1p1beta1/lib/google/apis/speech_v1p1beta1/representations.rb
  generated/google-apis-speech_v1p1beta1/synth.metadata
Labels: automerge, cla: yes
