Repository googleapis/google-api-ruby-client, pull requests merged in 2021-01, with the labels that each got.

#2137 chore: Updates to core for initial release
  google-api-client/lib/google/apis/generator/templates/rakefile.tmpl
  google-apis-core/.yardopts
  google-apis-core/CHANGELOG.md
  google-apis-core/LICENSE
  google-apis-core/LICENSE.md
  google-apis-core/OVERVIEW.md
  google-apis-core/Rakefile
  google-apis-core/google-apis-core.gemspec
  google-apis-core/lib/google/apis/core/version.rb
Labels: cla: yes

#2138 chore: Cleanup of separate library generation
  google-api-client/bin/generate-api
  google-api-client/google-api-client.gemspec
  google-api-client/lib/google/apis/generator/templates/dot-yardopts.tmpl
  google-api-client/lib/google/apis/generator/templates/gemfile.tmpl
  google-api-client/lib/google/apis/generator/templates/gemspec.tmpl
  google-api-client/lib/google/apis/generator/templates/rakefile.tmpl
  google-apis-core/Rakefile
Labels: cla: yes

#2140 feat: Automated regeneration of metastore v1alpha client
  google-api-client/generated/google/apis/metastore_v1alpha/synth.metadata
Labels: cla: yes

#2142 feat(core): Munge reported client version so backends can recognize split clients
  google-apis-core/lib/google/apis/core/api_command.rb
Labels: cla: yes

#2145 chore: Update releaser to handle multiple static and generated gems
  .kokoro/release/all-generated.cfg
  .kokoro/release/common.cfg
  .kokoro/release/core.cfg
  .kokoro/release/generator.cfg
  .kokoro/release/umbrella.cfg
  Rakefile
  rakelib/releaser.rb
Labels: cla: yes

#2147 chore: Rename kokoro release jobs to reduce logic
  .kokoro/release/google-api-client.cfg
  .kokoro/release/google-apis-core.cfg
  .kokoro/release/google-apis-generator.cfg
Labels: cla: yes

#2200 fix(generator): Fix charset used in file comparison
  google-apis-generator/lib/google/apis/generator/updater.rb
Labels: cla: yes

#2209 feat: Automated regeneration of bigqueryreservation v1alpha2 client
  generated/google-apis-bigqueryreservation_v1alpha2/synth.metadata
Labels: cla: yes

#2146 chore: Update release-please jobs to reference separate gems
  .github/workflows/release-core.yml
  .github/workflows/release-generator.yml
  .github/workflows/release-umbrella.yml
Labels: cla: yes

#2218 chore: Attempt to fix the releaser
  Rakefile
  rakelib/releaser.rb
Labels: cla: yes

#2220 chore: Another attempt to fix the releaser
  rakelib/releaser.rb
Labels: cla: yes

#2224 feat: Automated regeneration of admob v1 client
  generated/google-apis-admob_v1/CHANGELOG.md
  generated/google-apis-admob_v1/lib/google/apis/admob_v1/gem_version.rb
  generated/google-apis-admob_v1/lib/google/apis/admob_v1/service.rb
  generated/google-apis-admob_v1/synth.metadata
Labels: cla: yes

#2222 feat: Automated regeneration of admin datatransfer_v1 client
  generated/google-apis-admin_datatransfer_v1/CHANGELOG.md
  generated/google-apis-admin_datatransfer_v1/lib/google/apis/admin_datatransfer_v1/gem_version.rb
  generated/google-apis-admin_datatransfer_v1/lib/google/apis/admin_datatransfer_v1/service.rb
  generated/google-apis-admin_datatransfer_v1/synth.metadata
Labels: cla: yes

#2223 feat: Automated regeneration of admin directory_v1 client
  generated/google-apis-admin_directory_v1/CHANGELOG.md
  generated/google-apis-admin_directory_v1/lib/google/apis/admin_directory_v1/classes.rb
  generated/google-apis-admin_directory_v1/lib/google/apis/admin_directory_v1/gem_version.rb
  generated/google-apis-admin_directory_v1/lib/google/apis/admin_directory_v1/service.rb
  generated/google-apis-admin_directory_v1/synth.metadata
Labels: cla: yes

#2225 feat: Automated regeneration of admob v1beta client
  generated/google-apis-admob_v1beta/CHANGELOG.md
  generated/google-apis-admob_v1beta/lib/google/apis/admob_v1beta/gem_version.rb
  generated/google-apis-admob_v1beta/lib/google/apis/admob_v1beta/service.rb
  generated/google-apis-admob_v1beta/synth.metadata
Labels: cla: yes

#2248 feat: Automated regeneration of youtube v3 client
  generated/google-apis-youtube_v3/CHANGELOG.md
  generated/google-apis-youtube_v3/lib/google/apis/youtube_v3/gem_version.rb
  generated/google-apis-youtube_v3/lib/google/apis/youtube_v3/service.rb
  generated/google-apis-youtube_v3/synth.metadata
Labels: cla: yes

#2247 feat: Automated regeneration of workflowexecutions v1beta client
  generated/google-apis-workflowexecutions_v1beta/CHANGELOG.md
  generated/google-apis-workflowexecutions_v1beta/lib/google/apis/workflowexecutions_v1beta/classes.rb
  generated/google-apis-workflowexecutions_v1beta/lib/google/apis/workflowexecutions_v1beta/gem_version.rb
  generated/google-apis-workflowexecutions_v1beta/synth.metadata
Labels: cla: yes

#2244 feat: Automated regeneration of securitycenter v1beta2 client
  generated/google-apis-securitycenter_v1beta2/CHANGELOG.md
  generated/google-apis-securitycenter_v1beta2/OVERVIEW.md
  generated/google-apis-securitycenter_v1beta2/lib/google/apis/securitycenter_v1beta2.rb
  generated/google-apis-securitycenter_v1beta2/lib/google/apis/securitycenter_v1beta2/gem_version.rb
  generated/google-apis-securitycenter_v1beta2/lib/google/apis/securitycenter_v1beta2/service.rb
  generated/google-apis-securitycenter_v1beta2/synth.metadata
Labels: cla: yes

#2243 feat: Automated regeneration of securitycenter v1beta1 client
  generated/google-apis-securitycenter_v1beta1/CHANGELOG.md
  generated/google-apis-securitycenter_v1beta1/OVERVIEW.md
  generated/google-apis-securitycenter_v1beta1/lib/google/apis/securitycenter_v1beta1.rb
  generated/google-apis-securitycenter_v1beta1/lib/google/apis/securitycenter_v1beta1/gem_version.rb
  generated/google-apis-securitycenter_v1beta1/lib/google/apis/securitycenter_v1beta1/service.rb
  generated/google-apis-securitycenter_v1beta1/synth.metadata
Labels: cla: yes

#2226 feat: Automated regeneration of alertcenter v1beta1 client
  generated/google-apis-alertcenter_v1beta1/CHANGELOG.md
  generated/google-apis-alertcenter_v1beta1/OVERVIEW.md
  generated/google-apis-alertcenter_v1beta1/google-apis-alertcenter_v1beta1.gemspec
  generated/google-apis-alertcenter_v1beta1/lib/google/apis/alertcenter_v1beta1.rb
  generated/google-apis-alertcenter_v1beta1/lib/google/apis/alertcenter_v1beta1/classes.rb
  generated/google-apis-alertcenter_v1beta1/lib/google/apis/alertcenter_v1beta1/gem_version.rb
  generated/google-apis-alertcenter_v1beta1/lib/google/apis/alertcenter_v1beta1/service.rb
  generated/google-apis-alertcenter_v1beta1/synth.metadata
Labels: cla: yes

#2227 feat: Automated regeneration of analyticsdata v1alpha client
  generated/google-apis-analyticsdata_v1alpha/CHANGELOG.md
  generated/google-apis-analyticsdata_v1alpha/lib/google/apis/analyticsdata_v1alpha.rb
  generated/google-apis-analyticsdata_v1alpha/lib/google/apis/analyticsdata_v1alpha/classes.rb
  generated/google-apis-analyticsdata_v1alpha/lib/google/apis/analyticsdata_v1alpha/gem_version.rb
  generated/google-apis-analyticsdata_v1alpha/synth.metadata
Labels: cla: yes

#2228 feat: Automated regeneration of analyticsreporting v4 client
  generated/google-apis-analyticsreporting_v4/CHANGELOG.md
  generated/google-apis-analyticsreporting_v4/lib/google/apis/analyticsreporting_v4.rb
  generated/google-apis-analyticsreporting_v4/lib/google/apis/analyticsreporting_v4/gem_version.rb
  generated/google-apis-analyticsreporting_v4/synth.metadata
Labels: cla: yes

#2229 feat: Automated regeneration of apigee v1 client
  generated/google-apis-apigee_v1/CHANGELOG.md
  generated/google-apis-apigee_v1/lib/google/apis/apigee_v1/classes.rb
  generated/google-apis-apigee_v1/lib/google/apis/apigee_v1/gem_version.rb
  generated/google-apis-apigee_v1/synth.metadata
Labels: cla: yes

#2230 feat: Automated regeneration of cloudasset v1 client
  generated/google-apis-cloudasset_v1/CHANGELOG.md
  generated/google-apis-cloudasset_v1/lib/google/apis/cloudasset_v1/classes.rb
  generated/google-apis-cloudasset_v1/lib/google/apis/cloudasset_v1/gem_version.rb
  generated/google-apis-cloudasset_v1/lib/google/apis/cloudasset_v1/service.rb
  generated/google-apis-cloudasset_v1/synth.metadata
Labels: cla: yes

#2231 feat: Automated regeneration of dataproc v1 client
  generated/google-apis-dataproc_v1/CHANGELOG.md
  generated/google-apis-dataproc_v1/lib/google/apis/dataproc_v1/classes.rb
  generated/google-apis-dataproc_v1/lib/google/apis/dataproc_v1/gem_version.rb
  generated/google-apis-dataproc_v1/synth.metadata
Labels: cla: yes

#2232 feat: Automated regeneration of dataproc v1beta2 client
  generated/google-apis-dataproc_v1beta2/CHANGELOG.md
  generated/google-apis-dataproc_v1beta2/lib/google/apis/dataproc_v1beta2/classes.rb
  generated/google-apis-dataproc_v1beta2/lib/google/apis/dataproc_v1beta2/gem_version.rb
  generated/google-apis-dataproc_v1beta2/synth.metadata
Labels: cla: yes

#2233 feat: Automated regeneration of dialogflow v2 client
  generated/google-apis-dialogflow_v2/CHANGELOG.md
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/classes.rb
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/gem_version.rb
  generated/google-apis-dialogflow_v2/synth.metadata
Labels: cla: yes

#2234 feat: Automated regeneration of dialogflow v2beta1 client
  generated/google-apis-dialogflow_v2beta1/CHANGELOG.md
  generated/google-apis-dialogflow_v2beta1/lib/google/apis/dialogflow_v2beta1/classes.rb
  generated/google-apis-dialogflow_v2beta1/lib/google/apis/dialogflow_v2beta1/gem_version.rb
  generated/google-apis-dialogflow_v2beta1/synth.metadata
Labels: cla: yes

#2237 feat: Automated regeneration of dlp v2 client
  generated/google-apis-dlp_v2/CHANGELOG.md
  generated/google-apis-dlp_v2/lib/google/apis/dlp_v2/gem_version.rb
  generated/google-apis-dlp_v2/lib/google/apis/dlp_v2/service.rb
  generated/google-apis-dlp_v2/synth.metadata
Labels: cla: yes

#2240 feat: Automated regeneration of groupssettings v1 client
  generated/google-apis-groupssettings_v1/CHANGELOG.md
  generated/google-apis-groupssettings_v1/lib/google/apis/groupssettings_v1/classes.rb
  generated/google-apis-groupssettings_v1/lib/google/apis/groupssettings_v1/gem_version.rb
  generated/google-apis-groupssettings_v1/synth.metadata
Labels: cla: yes

#2241 feat: Automated regeneration of people v1 client
  generated/google-apis-people_v1/CHANGELOG.md
  generated/google-apis-people_v1/lib/google/apis/people_v1/gem_version.rb
  generated/google-apis-people_v1/lib/google/apis/people_v1/service.rb
  generated/google-apis-people_v1/synth.metadata
Labels: cla: yes

#2242 feat: Automated regeneration of securitycenter v1 client
  generated/google-apis-securitycenter_v1/CHANGELOG.md
  generated/google-apis-securitycenter_v1/OVERVIEW.md
  generated/google-apis-securitycenter_v1/lib/google/apis/securitycenter_v1.rb
  generated/google-apis-securitycenter_v1/lib/google/apis/securitycenter_v1/gem_version.rb
  generated/google-apis-securitycenter_v1/lib/google/apis/securitycenter_v1/service.rb
  generated/google-apis-securitycenter_v1/synth.metadata
Labels: cla: yes

#2221 docs(generator): Fix rubygems documentation link
  google-apis-generator/google-apis-generator.gemspec
Labels: cla: yes

#2215 docs: Update readme and samples to reflect separated packages
  README.md
  samples/cli/Gemfile
  samples/web/Gemfile
Labels: cla: yes, samples

#2214 feat(umbrella): Deprecate google-api-client in favor of individual service-specific gems
  google-api-client/.yardopts
  google-api-client/OVERVIEW.md
  google-api-client/docs/api-keys.md
  google-api-client/docs/auth.md
  google-api-client/docs/client-secrets.md
  google-api-client/docs/getting-started.md
  google-api-client/docs/installation.md
  google-api-client/docs/logging.md
  google-api-client/docs/media-upload.md
  google-api-client/docs/oauth-installed.md
  google-api-client/docs/oauth-server.md
  google-api-client/docs/oauth-web.md
  google-api-client/docs/oauth.md
  google-api-client/docs/pagination.md
  google-api-client/docs/performance.md
  google-api-client/generated/google/apis/adexchangebuyer.v1_2/synth.metadata
  google-api-client/generated/google/apis/adexchangebuyer.v1_3/synth.metadata
  google-api-client/generated/google/apis/adexchangebuyer.v1_4/synth.metadata
  google-api-client/generated/google/apis/adsense.v1_4/synth.metadata
  google-api-client/generated/google/apis/adsensehost.v4_1/synth.metadata
  google-api-client/generated/google/apis/bigqueryreservation_v1alpha2/synth.metadata
  google-api-client/generated/google/apis/content.v2_1/synth.metadata
  google-api-client/generated/google/apis/dfareporting.v3_3/synth.metadata
  google-api-client/generated/google/apis/dfareporting.v3_4/synth.metadata
  google-api-client/generated/google/apis/doubleclickbidmanager.v1_1/synth.metadata
  google-api-client/google-api-client.gemspec
Labels: cla: yes

#2252 chore: Remove an errant synth metadata file
  generated/google-apis-bigqueryreservation_v1alpha2/synth.metadata
Labels: cla: yes

#2256 feat: Automated regeneration of safebrowsing v4 client
  generated/google-apis-safebrowsing_v4/CHANGELOG.md
  generated/google-apis-safebrowsing_v4/lib/google/apis/safebrowsing_v4/classes.rb
  generated/google-apis-safebrowsing_v4/lib/google/apis/safebrowsing_v4/gem_version.rb
  generated/google-apis-safebrowsing_v4/synth.metadata
Labels: cla: yes

#2260 feat: Automated regeneration of bigqueryconnection v1beta1 client
  generated/google-apis-bigqueryconnection_v1beta1/CHANGELOG.md
  generated/google-apis-bigqueryconnection_v1beta1/lib/google/apis/bigqueryconnection_v1beta1/classes.rb
  generated/google-apis-bigqueryconnection_v1beta1/lib/google/apis/bigqueryconnection_v1beta1/gem_version.rb
  generated/google-apis-bigqueryconnection_v1beta1/lib/google/apis/bigqueryconnection_v1beta1/representations.rb
  generated/google-apis-bigqueryconnection_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2261 feat: Automated regeneration of logging v2 client
  generated/google-apis-logging_v2/CHANGELOG.md
  generated/google-apis-logging_v2/lib/google/apis/logging_v2/classes.rb
  generated/google-apis-logging_v2/lib/google/apis/logging_v2/gem_version.rb
  generated/google-apis-logging_v2/lib/google/apis/logging_v2/service.rb
  generated/google-apis-logging_v2/synth.metadata
Labels: automerge, cla: yes

#2343 chore: Clean up after creating new gems during autosynth
  .toys/generate.rb
  script/synth.rb
Labels: cla: yes

#2349 feat: Automated regeneration of calendar v3 client
  generated/google-apis-calendar_v3/CHANGELOG.md
  generated/google-apis-calendar_v3/lib/google/apis/calendar_v3.rb
  generated/google-apis-calendar_v3/lib/google/apis/calendar_v3/gem_version.rb
  generated/google-apis-calendar_v3/synth.metadata
Labels: automerge, cla: yes

#2350 feat: Automated regeneration of cloudsearch v1 client
  generated/google-apis-cloudsearch_v1/CHANGELOG.md
  generated/google-apis-cloudsearch_v1/lib/google/apis/cloudsearch_v1/classes.rb
  generated/google-apis-cloudsearch_v1/lib/google/apis/cloudsearch_v1/gem_version.rb
  generated/google-apis-cloudsearch_v1/synth.metadata
Labels: automerge, cla: yes

#2354 feat: Automated regeneration of content v2 client
  generated/google-apis-content_v2/CHANGELOG.md
  generated/google-apis-content_v2/lib/google/apis/content_v2/classes.rb
  generated/google-apis-content_v2/lib/google/apis/content_v2/gem_version.rb
  generated/google-apis-content_v2/synth.metadata
Labels: automerge, cla: yes

#2360 feat: Automated regeneration of people v1 client
  generated/google-apis-people_v1/CHANGELOG.md
  generated/google-apis-people_v1/lib/google/apis/people_v1.rb
  generated/google-apis-people_v1/lib/google/apis/people_v1/gem_version.rb
  generated/google-apis-people_v1/synth.metadata
Labels: automerge, cla: yes

#2361 feat: Automated regeneration of script v1 client
  generated/google-apis-script_v1/CHANGELOG.md
  generated/google-apis-script_v1/lib/google/apis/script_v1/gem_version.rb
  generated/google-apis-script_v1/lib/google/apis/script_v1/service.rb
  generated/google-apis-script_v1/synth.metadata
Labels: automerge, cla: yes

#2362 feat: Automated regeneration of serviceconsumermanagement v1 client
  generated/google-apis-serviceconsumermanagement_v1/CHANGELOG.md
  generated/google-apis-serviceconsumermanagement_v1/lib/google/apis/serviceconsumermanagement_v1/classes.rb
  generated/google-apis-serviceconsumermanagement_v1/lib/google/apis/serviceconsumermanagement_v1/gem_version.rb
  generated/google-apis-serviceconsumermanagement_v1/synth.metadata
Labels: automerge, cla: yes

#2363 feat: Automated regeneration of serviceconsumermanagement v1beta1 client
  generated/google-apis-serviceconsumermanagement_v1beta1/CHANGELOG.md
  generated/google-apis-serviceconsumermanagement_v1beta1/lib/google/apis/serviceconsumermanagement_v1beta1/classes.rb
  generated/google-apis-serviceconsumermanagement_v1beta1/lib/google/apis/serviceconsumermanagement_v1beta1/gem_version.rb
  generated/google-apis-serviceconsumermanagement_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2364 feat: Automated regeneration of servicemanagement v1 client
  generated/google-apis-servicemanagement_v1/CHANGELOG.md
  generated/google-apis-servicemanagement_v1/lib/google/apis/servicemanagement_v1/classes.rb
  generated/google-apis-servicemanagement_v1/lib/google/apis/servicemanagement_v1/gem_version.rb
  generated/google-apis-servicemanagement_v1/synth.metadata
Labels: automerge, cla: yes

#2365 feat: Automated regeneration of serviceusage v1 client
  generated/google-apis-serviceusage_v1/CHANGELOG.md
  generated/google-apis-serviceusage_v1/lib/google/apis/serviceusage_v1/classes.rb
  generated/google-apis-serviceusage_v1/lib/google/apis/serviceusage_v1/gem_version.rb
  generated/google-apis-serviceusage_v1/synth.metadata
Labels: automerge, cla: yes

#2366 feat: Automated regeneration of serviceusage v1beta1 client
  generated/google-apis-serviceusage_v1beta1/CHANGELOG.md
  generated/google-apis-serviceusage_v1beta1/lib/google/apis/serviceusage_v1beta1/classes.rb
  generated/google-apis-serviceusage_v1beta1/lib/google/apis/serviceusage_v1beta1/gem_version.rb
  generated/google-apis-serviceusage_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2367 feat: Automated regeneration of tasks v1 client
  generated/google-apis-tasks_v1/CHANGELOG.md
  generated/google-apis-tasks_v1/lib/google/apis/tasks_v1/classes.rb
  generated/google-apis-tasks_v1/lib/google/apis/tasks_v1/gem_version.rb
  generated/google-apis-tasks_v1/synth.metadata
Labels: automerge, cla: yes

#2369 feat: Automated regeneration of apigateway v1 client
  generated/google-apis-apigateway_v1/CHANGELOG.md
  generated/google-apis-apigateway_v1/OVERVIEW.md
  generated/google-apis-apigateway_v1/lib/google/apis/apigateway_v1.rb
  generated/google-apis-apigateway_v1/lib/google/apis/apigateway_v1/gem_version.rb
  generated/google-apis-apigateway_v1/lib/google/apis/apigateway_v1/service.rb
  generated/google-apis-apigateway_v1/synth.metadata
Labels: automerge, cla: yes

#2370 feat: Automated regeneration of apigateway v1beta client
  generated/google-apis-apigateway_v1beta/CHANGELOG.md
  generated/google-apis-apigateway_v1beta/OVERVIEW.md
  generated/google-apis-apigateway_v1beta/lib/google/apis/apigateway_v1beta.rb
  generated/google-apis-apigateway_v1beta/lib/google/apis/apigateway_v1beta/gem_version.rb
  generated/google-apis-apigateway_v1beta/lib/google/apis/apigateway_v1beta/service.rb
  generated/google-apis-apigateway_v1beta/synth.metadata
Labels: automerge, cla: yes

#2371 feat: Automated regeneration of billingbudgets v1 client
  generated/google-apis-billingbudgets_v1/CHANGELOG.md
  generated/google-apis-billingbudgets_v1/lib/google/apis/billingbudgets_v1/classes.rb
  generated/google-apis-billingbudgets_v1/lib/google/apis/billingbudgets_v1/gem_version.rb
  generated/google-apis-billingbudgets_v1/synth.metadata
Labels: automerge, cla: yes

#2372 feat: Automated regeneration of billingbudgets v1beta1 client
  generated/google-apis-billingbudgets_v1beta1/CHANGELOG.md
  generated/google-apis-billingbudgets_v1beta1/lib/google/apis/billingbudgets_v1beta1/classes.rb
  generated/google-apis-billingbudgets_v1beta1/lib/google/apis/billingbudgets_v1beta1/gem_version.rb
  generated/google-apis-billingbudgets_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2373 feat: Automated regeneration of dialogflow v2 client
  generated/google-apis-dialogflow_v2/CHANGELOG.md
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/classes.rb
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/gem_version.rb
  generated/google-apis-dialogflow_v2/synth.metadata
Labels: automerge, cla: yes

#2374 feat: Automated regeneration of dialogflow v2beta1 client
  generated/google-apis-dialogflow_v2beta1/CHANGELOG.md
  generated/google-apis-dialogflow_v2beta1/lib/google/apis/dialogflow_v2beta1/classes.rb
  generated/google-apis-dialogflow_v2beta1/lib/google/apis/dialogflow_v2beta1/gem_version.rb
  generated/google-apis-dialogflow_v2beta1/synth.metadata
Labels: automerge, cla: yes

#2376 feat: Automated regeneration of dialogflow v3beta1 client
  generated/google-apis-dialogflow_v3beta1/CHANGELOG.md
  generated/google-apis-dialogflow_v3beta1/lib/google/apis/dialogflow_v3beta1/classes.rb
  generated/google-apis-dialogflow_v3beta1/lib/google/apis/dialogflow_v3beta1/gem_version.rb
  generated/google-apis-dialogflow_v3beta1/synth.metadata
Labels: automerge, cla: yes

#2375 feat: Automated regeneration of dialogflow v3 client
  generated/google-apis-dialogflow_v3/CHANGELOG.md
  generated/google-apis-dialogflow_v3/lib/google/apis/dialogflow_v3/classes.rb
  generated/google-apis-dialogflow_v3/lib/google/apis/dialogflow_v3/gem_version.rb
  generated/google-apis-dialogflow_v3/synth.metadata
Labels: automerge, cla: yes

#2377 feat: Automated regeneration of displayvideo v1 client
  generated/google-apis-displayvideo_v1/CHANGELOG.md
  generated/google-apis-displayvideo_v1/lib/google/apis/displayvideo_v1/classes.rb
  generated/google-apis-displayvideo_v1/lib/google/apis/displayvideo_v1/gem_version.rb
  generated/google-apis-displayvideo_v1/synth.metadata
Labels: automerge, cla: yes

#2378 feat: Automated regeneration of gmail v1 client
  generated/google-apis-gmail_v1/CHANGELOG.md
  generated/google-apis-gmail_v1/lib/google/apis/gmail_v1/gem_version.rb
  generated/google-apis-gmail_v1/lib/google/apis/gmail_v1/service.rb
  generated/google-apis-gmail_v1/synth.metadata
Labels: automerge, cla: yes

#2380 feat: Automated regeneration of ml v1 client
  generated/google-apis-ml_v1/CHANGELOG.md
  generated/google-apis-ml_v1/lib/google/apis/ml_v1/classes.rb
  generated/google-apis-ml_v1/lib/google/apis/ml_v1/gem_version.rb
  generated/google-apis-ml_v1/synth.metadata
Labels: automerge, cla: yes

#2381 feat: Automated regeneration of people v1 client
  generated/google-apis-people_v1/CHANGELOG.md
  generated/google-apis-people_v1/lib/google/apis/people_v1/classes.rb
  generated/google-apis-people_v1/lib/google/apis/people_v1/gem_version.rb
  generated/google-apis-people_v1/synth.metadata
Labels: automerge, cla: yes

#2388 feat: Automated regeneration of fcm v1 client
  generated/google-apis-fcm_v1/CHANGELOG.md
  generated/google-apis-fcm_v1/lib/google/apis/fcm_v1.rb
  generated/google-apis-fcm_v1/lib/google/apis/fcm_v1/gem_version.rb
  generated/google-apis-fcm_v1/synth.metadata
Labels: automerge, cla: yes

#2389 feat: Automated regeneration of genomics v2alpha1 client
  generated/google-apis-genomics_v2alpha1/CHANGELOG.md
  generated/google-apis-genomics_v2alpha1/lib/google/apis/genomics_v2alpha1/classes.rb
  generated/google-apis-genomics_v2alpha1/lib/google/apis/genomics_v2alpha1/gem_version.rb
  generated/google-apis-genomics_v2alpha1/synth.metadata
Labels: automerge, cla: yes

#2390 feat: Automated regeneration of recommendationengine v1beta1 client
  generated/google-apis-recommendationengine_v1beta1/CHANGELOG.md
  generated/google-apis-recommendationengine_v1beta1/OVERVIEW.md
  generated/google-apis-recommendationengine_v1beta1/google-apis-recommendationengine_v1beta1.gemspec
  generated/google-apis-recommendationengine_v1beta1/lib/google/apis/recommendationengine_v1beta1.rb
  generated/google-apis-recommendationengine_v1beta1/lib/google/apis/recommendationengine_v1beta1/gem_version.rb
  generated/google-apis-recommendationengine_v1beta1/lib/google/apis/recommendationengine_v1beta1/service.rb
  generated/google-apis-recommendationengine_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2392 feat: Automated regeneration of area120tables v1alpha1 client
  generated/google-apis-area120tables_v1alpha1/CHANGELOG.md
  generated/google-apis-area120tables_v1alpha1/OVERVIEW.md
  generated/google-apis-area120tables_v1alpha1/lib/google/apis/area120tables_v1alpha1.rb
  generated/google-apis-area120tables_v1alpha1/lib/google/apis/area120tables_v1alpha1/gem_version.rb
  generated/google-apis-area120tables_v1alpha1/lib/google/apis/area120tables_v1alpha1/service.rb
  generated/google-apis-area120tables_v1alpha1/synth.metadata
Labels: automerge, cla: yes

#2397 feat: Automated regeneration of prod_tt_sasportal v1alpha1 client
  generated/google-apis-prod_tt_sasportal_v1alpha1/CHANGELOG.md
  generated/google-apis-prod_tt_sasportal_v1alpha1/lib/google/apis/prod_tt_sasportal_v1alpha1/classes.rb
  generated/google-apis-prod_tt_sasportal_v1alpha1/lib/google/apis/prod_tt_sasportal_v1alpha1/gem_version.rb
  generated/google-apis-prod_tt_sasportal_v1alpha1/lib/google/apis/prod_tt_sasportal_v1alpha1/representations.rb
  generated/google-apis-prod_tt_sasportal_v1alpha1/lib/google/apis/prod_tt_sasportal_v1alpha1/service.rb
  generated/google-apis-prod_tt_sasportal_v1alpha1/synth.metadata
Labels: automerge, cla: yes

#2401 feat: Automated regeneration of sts v1beta client
  generated/google-apis-sts_v1beta/CHANGELOG.md
  generated/google-apis-sts_v1beta/lib/google/apis/sts_v1beta/classes.rb
  generated/google-apis-sts_v1beta/lib/google/apis/sts_v1beta/gem_version.rb
  generated/google-apis-sts_v1beta/synth.metadata
Labels: automerge, cla: yes

#2410 fix(core): Add webrick to the gem dependencies, for Ruby 3 compatibility
  google-apis-core/google-apis-core.gemspec
Labels: cla: yes

#2414 feat: Automated regeneration of cloudresourcemanager v1 client
  generated/google-apis-cloudresourcemanager_v1/CHANGELOG.md
  generated/google-apis-cloudresourcemanager_v1/lib/google/apis/cloudresourcemanager_v1.rb
  generated/google-apis-cloudresourcemanager_v1/lib/google/apis/cloudresourcemanager_v1/gem_version.rb
  generated/google-apis-cloudresourcemanager_v1/synth.metadata
Labels: automerge, cla: yes

#2415 feat: Automated regeneration of cloudresourcemanager v1beta1 client
  generated/google-apis-cloudresourcemanager_v1beta1/CHANGELOG.md
  generated/google-apis-cloudresourcemanager_v1beta1/lib/google/apis/cloudresourcemanager_v1beta1.rb
  generated/google-apis-cloudresourcemanager_v1beta1/lib/google/apis/cloudresourcemanager_v1beta1/gem_version.rb
  generated/google-apis-cloudresourcemanager_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2416 feat: Automated regeneration of cloudresourcemanager v2 client
  generated/google-apis-cloudresourcemanager_v2/CHANGELOG.md
  generated/google-apis-cloudresourcemanager_v2/lib/google/apis/cloudresourcemanager_v2.rb
  generated/google-apis-cloudresourcemanager_v2/lib/google/apis/cloudresourcemanager_v2/gem_version.rb
  generated/google-apis-cloudresourcemanager_v2/synth.metadata
Labels: automerge, cla: yes

#2417 feat: Automated regeneration of cloudresourcemanager v2beta1 client
  generated/google-apis-cloudresourcemanager_v2beta1/CHANGELOG.md
  generated/google-apis-cloudresourcemanager_v2beta1/lib/google/apis/cloudresourcemanager_v2beta1.rb
  generated/google-apis-cloudresourcemanager_v2beta1/lib/google/apis/cloudresourcemanager_v2beta1/gem_version.rb
  generated/google-apis-cloudresourcemanager_v2beta1/synth.metadata
Labels: automerge, cla: yes

#2418 feat: Automated regeneration of content v2.1 client
  generated/google-apis-content_v2_1/CHANGELOG.md
  generated/google-apis-content_v2_1/lib/google/apis/content_v2_1/classes.rb
  generated/google-apis-content_v2_1/lib/google/apis/content_v2_1/gem_version.rb
  generated/google-apis-content_v2_1/synth.metadata
Labels: automerge, cla: yes

#2419 feat: Automated regeneration of content v2 client
  generated/google-apis-content_v2/CHANGELOG.md
  generated/google-apis-content_v2/lib/google/apis/content_v2/classes.rb
  generated/google-apis-content_v2/lib/google/apis/content_v2/gem_version.rb
  generated/google-apis-content_v2/synth.metadata
Labels: automerge, cla: yes

#2422 feat: Automated regeneration of lifesciences v2beta client
  generated/google-apis-lifesciences_v2beta/CHANGELOG.md
  generated/google-apis-lifesciences_v2beta/lib/google/apis/lifesciences_v2beta/classes.rb
  generated/google-apis-lifesciences_v2beta/lib/google/apis/lifesciences_v2beta/gem_version.rb
  generated/google-apis-lifesciences_v2beta/synth.metadata
Labels: automerge, cla: yes

#2413 fix(generator): Update thor dependency to allow 1.x
  google-apis-generator/google-apis-generator.gemspec
Labels: cla: yes

#2426 feat: Automated regeneration of apigee v1 client
  generated/google-apis-apigee_v1/CHANGELOG.md
  generated/google-apis-apigee_v1/lib/google/apis/apigee_v1/classes.rb
  generated/google-apis-apigee_v1/lib/google/apis/apigee_v1/gem_version.rb
  generated/google-apis-apigee_v1/synth.metadata
Labels: automerge, cla: yes

#2428 feat: Automated regeneration of bigquerydatatransfer v1 client
  generated/google-apis-bigquerydatatransfer_v1/CHANGELOG.md
  generated/google-apis-bigquerydatatransfer_v1/OVERVIEW.md
  generated/google-apis-bigquerydatatransfer_v1/lib/google/apis/bigquerydatatransfer_v1.rb
  generated/google-apis-bigquerydatatransfer_v1/lib/google/apis/bigquerydatatransfer_v1/gem_version.rb
  generated/google-apis-bigquerydatatransfer_v1/lib/google/apis/bigquerydatatransfer_v1/service.rb
  generated/google-apis-bigquerydatatransfer_v1/synth.metadata
Labels: automerge, cla: yes

#2431 feat: Automated regeneration of fitness v1 client
  generated/google-apis-fitness_v1/CHANGELOG.md
  generated/google-apis-fitness_v1/lib/google/apis/fitness_v1/gem_version.rb
  generated/google-apis-fitness_v1/lib/google/apis/fitness_v1/service.rb
  generated/google-apis-fitness_v1/synth.metadata
Labels: automerge, cla: yes

#2433 feat: Automated regeneration of managedidentities v1beta1 client
  generated/google-apis-managedidentities_v1beta1/CHANGELOG.md
  generated/google-apis-managedidentities_v1beta1/lib/google/apis/managedidentities_v1beta1/classes.rb
  generated/google-apis-managedidentities_v1beta1/lib/google/apis/managedidentities_v1beta1/gem_version.rb
  generated/google-apis-managedidentities_v1beta1/lib/google/apis/managedidentities_v1beta1/representations.rb
  generated/google-apis-managedidentities_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2432 feat: Automated regeneration of managedidentities v1alpha1 client
  generated/google-apis-managedidentities_v1alpha1/CHANGELOG.md
  generated/google-apis-managedidentities_v1alpha1/lib/google/apis/managedidentities_v1alpha1/classes.rb
  generated/google-apis-managedidentities_v1alpha1/lib/google/apis/managedidentities_v1alpha1/gem_version.rb
  generated/google-apis-managedidentities_v1alpha1/lib/google/apis/managedidentities_v1alpha1/representations.rb
  generated/google-apis-managedidentities_v1alpha1/synth.metadata
Labels: automerge, cla: yes

#2436 feat: Automated regeneration of streetviewpublish v1 client
  generated/google-apis-streetviewpublish_v1/CHANGELOG.md
  generated/google-apis-streetviewpublish_v1/lib/google/apis/streetviewpublish_v1/classes.rb
  generated/google-apis-streetviewpublish_v1/lib/google/apis/streetviewpublish_v1/gem_version.rb
  generated/google-apis-streetviewpublish_v1/lib/google/apis/streetviewpublish_v1/service.rb
  generated/google-apis-streetviewpublish_v1/synth.metadata
Labels: automerge, cla: yes

#2440 feat: Automated regeneration of cloudasset v1p5beta1 client
  generated/google-apis-cloudasset_v1p5beta1/CHANGELOG.md
  generated/google-apis-cloudasset_v1p5beta1/lib/google/apis/cloudasset_v1p5beta1/classes.rb
  generated/google-apis-cloudasset_v1p5beta1/lib/google/apis/cloudasset_v1p5beta1/gem_version.rb
  generated/google-apis-cloudasset_v1p5beta1/synth.metadata
Labels: automerge, cla: yes

#2441 feat: Automated regeneration of dialogflow v2 client
  generated/google-apis-dialogflow_v2/CHANGELOG.md
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/classes.rb
  generated/google-apis-dialogflow_v2/lib/google/apis/dialogflow_v2/gem_version.rb
  generated/google-apis-dialogflow_v2/synth.metadata
Labels: automerge, cla: yes

#2442 feat: Automated regeneration of dialogflow v2beta1 client
  generated/google-apis-dialogflow_v2beta1/CHANGELOG.md
  generated/google-apis-dialogflow_v2beta1/lib/google/apis/dialogflow_v2beta1/classes.rb
  generated/google-apis-dialogflow_v2beta1/lib/google/apis/dialogflow_v2beta1/gem_version.rb
  generated/google-apis-dialogflow_v2beta1/synth.metadata
Labels: automerge, cla: yes

#2445 feat: Automated regeneration of retail v2 client
  generated/google-apis-retail_v2/CHANGELOG.md
  generated/google-apis-retail_v2/lib/google/apis/retail_v2/classes.rb
  generated/google-apis-retail_v2/lib/google/apis/retail_v2/gem_version.rb
  generated/google-apis-retail_v2/synth.metadata
Labels: automerge, cla: yes

#2447 feat: Automated regeneration of retail v2beta client
  generated/google-apis-retail_v2beta/CHANGELOG.md
  generated/google-apis-retail_v2beta/lib/google/apis/retail_v2beta/classes.rb
  generated/google-apis-retail_v2beta/lib/google/apis/retail_v2beta/gem_version.rb
  generated/google-apis-retail_v2beta/synth.metadata
Labels: automerge, cla: yes

#2448 feat: Automated regeneration of sasportal v1alpha1 client
  generated/google-apis-sasportal_v1alpha1/CHANGELOG.md
  generated/google-apis-sasportal_v1alpha1/lib/google/apis/sasportal_v1alpha1/classes.rb
  generated/google-apis-sasportal_v1alpha1/lib/google/apis/sasportal_v1alpha1/gem_version.rb
  generated/google-apis-sasportal_v1alpha1/lib/google/apis/sasportal_v1alpha1/representations.rb
  generated/google-apis-sasportal_v1alpha1/lib/google/apis/sasportal_v1alpha1/service.rb
  generated/google-apis-sasportal_v1alpha1/synth.metadata
Labels: automerge, cla: yes

#2446 feat: Automated regeneration of retail v2alpha client
  generated/google-apis-retail_v2alpha/CHANGELOG.md
  generated/google-apis-retail_v2alpha/lib/google/apis/retail_v2alpha/classes.rb
  generated/google-apis-retail_v2alpha/lib/google/apis/retail_v2alpha/gem_version.rb
  generated/google-apis-retail_v2alpha/synth.metadata
Labels: automerge, cla: yes

#2450 feat: Automated regeneration of analyticsadmin v1alpha client
  generated/google-apis-analyticsadmin_v1alpha/CHANGELOG.md
  generated/google-apis-analyticsadmin_v1alpha/lib/google/apis/analyticsadmin_v1alpha/gem_version.rb
  generated/google-apis-analyticsadmin_v1alpha/lib/google/apis/analyticsadmin_v1alpha/service.rb
  generated/google-apis-analyticsadmin_v1alpha/synth.metadata
Labels: automerge, cla: yes

#2452 feat: Automated regeneration of cloudshell v1 client
  generated/google-apis-cloudshell_v1/CHANGELOG.md
  generated/google-apis-cloudshell_v1/lib/google/apis/cloudshell_v1/classes.rb
  generated/google-apis-cloudshell_v1/lib/google/apis/cloudshell_v1/gem_version.rb
  generated/google-apis-cloudshell_v1/synth.metadata
Labels: automerge, cla: yes

#2457 feat: Automated regeneration of homegraph v1 client
  generated/google-apis-homegraph_v1/CHANGELOG.md
  generated/google-apis-homegraph_v1/lib/google/apis/homegraph_v1/classes.rb
  generated/google-apis-homegraph_v1/lib/google/apis/homegraph_v1/gem_version.rb
  generated/google-apis-homegraph_v1/synth.metadata
Labels: automerge, cla: yes

#2460 feat: Automated regeneration of privateca v1beta1 client
  generated/google-apis-privateca_v1beta1/CHANGELOG.md
  generated/google-apis-privateca_v1beta1/lib/google/apis/privateca_v1beta1/classes.rb
  generated/google-apis-privateca_v1beta1/lib/google/apis/privateca_v1beta1/gem_version.rb
  generated/google-apis-privateca_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2465 chore: Ensure newly created files have a reasonable owner
  script/synth.rb
  synth.py
Labels: cla: yes

#2466 feat: Automated regeneration of analyticsdata v1alpha client
  generated/google-apis-analyticsdata_v1alpha/CHANGELOG.md
  generated/google-apis-analyticsdata_v1alpha/lib/google/apis/analyticsdata_v1alpha/classes.rb
  generated/google-apis-analyticsdata_v1alpha/lib/google/apis/analyticsdata_v1alpha/gem_version.rb
  generated/google-apis-analyticsdata_v1alpha/synth.metadata
Labels: automerge, cla: yes

#2471 feat: Automated regeneration of dataproc v1beta2 client
  generated/google-apis-dataproc_v1beta2/CHANGELOG.md
  generated/google-apis-dataproc_v1beta2/lib/google/apis/dataproc_v1beta2/classes.rb
  generated/google-apis-dataproc_v1beta2/lib/google/apis/dataproc_v1beta2/gem_version.rb
  generated/google-apis-dataproc_v1beta2/synth.metadata
Labels: automerge, cla: yes

#2470 feat: Automated regeneration of dataproc v1 client
  generated/google-apis-dataproc_v1/CHANGELOG.md
  generated/google-apis-dataproc_v1/lib/google/apis/dataproc_v1/classes.rb
  generated/google-apis-dataproc_v1/lib/google/apis/dataproc_v1/gem_version.rb
  generated/google-apis-dataproc_v1/synth.metadata
Labels: automerge, cla: yes

#2480 feat: Automated regeneration of cloudresourcemanager v1beta1 client
  generated/google-apis-cloudresourcemanager_v1beta1/CHANGELOG.md
  generated/google-apis-cloudresourcemanager_v1beta1/lib/google/apis/cloudresourcemanager_v1beta1.rb
  generated/google-apis-cloudresourcemanager_v1beta1/lib/google/apis/cloudresourcemanager_v1beta1/gem_version.rb
  generated/google-apis-cloudresourcemanager_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2479 feat: Automated regeneration of cloudresourcemanager v1 client
  generated/google-apis-cloudresourcemanager_v1/CHANGELOG.md
  generated/google-apis-cloudresourcemanager_v1/lib/google/apis/cloudresourcemanager_v1.rb
  generated/google-apis-cloudresourcemanager_v1/lib/google/apis/cloudresourcemanager_v1/gem_version.rb
  generated/google-apis-cloudresourcemanager_v1/synth.metadata
Labels: automerge, cla: yes

#2481 feat: Automated regeneration of cloudresourcemanager v2 client
  generated/google-apis-cloudresourcemanager_v2/CHANGELOG.md
  generated/google-apis-cloudresourcemanager_v2/lib/google/apis/cloudresourcemanager_v2.rb
  generated/google-apis-cloudresourcemanager_v2/lib/google/apis/cloudresourcemanager_v2/gem_version.rb
  generated/google-apis-cloudresourcemanager_v2/synth.metadata
Labels: automerge, cla: yes

#2482 feat: Automated regeneration of cloudresourcemanager v2beta1 client
  generated/google-apis-cloudresourcemanager_v2beta1/CHANGELOG.md
  generated/google-apis-cloudresourcemanager_v2beta1/lib/google/apis/cloudresourcemanager_v2beta1.rb
  generated/google-apis-cloudresourcemanager_v2beta1/lib/google/apis/cloudresourcemanager_v2beta1/gem_version.rb
  generated/google-apis-cloudresourcemanager_v2beta1/synth.metadata
Labels: automerge, cla: yes

#2484 feat: Automated regeneration of recommendationengine v1beta1 client
  generated/google-apis-recommendationengine_v1beta1/CHANGELOG.md
  generated/google-apis-recommendationengine_v1beta1/lib/google/apis/recommendationengine_v1beta1.rb
  generated/google-apis-recommendationengine_v1beta1/lib/google/apis/recommendationengine_v1beta1/gem_version.rb
  generated/google-apis-recommendationengine_v1beta1/lib/google/apis/recommendationengine_v1beta1/service.rb
  generated/google-apis-recommendationengine_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2485 feat: Automated regeneration of sts v1beta client
  generated/google-apis-sts_v1beta/CHANGELOG.md
  generated/google-apis-sts_v1beta/lib/google/apis/sts_v1beta/classes.rb
  generated/google-apis-sts_v1beta/lib/google/apis/sts_v1beta/gem_version.rb
  generated/google-apis-sts_v1beta/synth.metadata
Labels: automerge, cla: yes

#2488 chore: Update release-please jobs to run nightly and not auto-approve
  .github/workflows/release-core.yml
  .github/workflows/release-generator.yml
  .github/workflows/release-umbrella.yml
Labels: cla: yes

#2493 feat: Automated regeneration of content v2.1 client
  generated/google-apis-content_v2_1/CHANGELOG.md
  generated/google-apis-content_v2_1/lib/google/apis/content_v2_1/gem_version.rb
  generated/google-apis-content_v2_1/lib/google/apis/content_v2_1/service.rb
  generated/google-apis-content_v2_1/synth.metadata
Labels: automerge, cla: yes

#2494 feat: Automated regeneration of dialogflow v3 client
  generated/google-apis-dialogflow_v3/CHANGELOG.md
  generated/google-apis-dialogflow_v3/lib/google/apis/dialogflow_v3/gem_version.rb
  generated/google-apis-dialogflow_v3/lib/google/apis/dialogflow_v3/service.rb
  generated/google-apis-dialogflow_v3/synth.metadata
Labels: automerge, cla: yes

#2496 feat: Automated regeneration of dlp v2 client
  generated/google-apis-dlp_v2/CHANGELOG.md
  generated/google-apis-dlp_v2/lib/google/apis/dlp_v2/classes.rb
  generated/google-apis-dlp_v2/lib/google/apis/dlp_v2/gem_version.rb
  generated/google-apis-dlp_v2/lib/google/apis/dlp_v2/service.rb
  generated/google-apis-dlp_v2/synth.metadata
Labels: automerge, cla: yes

#2495 feat: Automated regeneration of dialogflow v3beta1 client
  generated/google-apis-dialogflow_v3beta1/CHANGELOG.md
  generated/google-apis-dialogflow_v3beta1/lib/google/apis/dialogflow_v3beta1/gem_version.rb
  generated/google-apis-dialogflow_v3beta1/lib/google/apis/dialogflow_v3beta1/service.rb
  generated/google-apis-dialogflow_v3beta1/synth.metadata
Labels: automerge, cla: yes

#2500 feat: Automated regeneration of file v1beta1 client
  generated/google-apis-file_v1beta1/CHANGELOG.md
  generated/google-apis-file_v1beta1/lib/google/apis/file_v1beta1/gem_version.rb
  generated/google-apis-file_v1beta1/lib/google/apis/file_v1beta1/service.rb
  generated/google-apis-file_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2499 feat: Automated regeneration of file v1 client
  generated/google-apis-file_v1/CHANGELOG.md
  generated/google-apis-file_v1/lib/google/apis/file_v1/gem_version.rb
  generated/google-apis-file_v1/lib/google/apis/file_v1/service.rb
  generated/google-apis-file_v1/synth.metadata
Labels: automerge, cla: yes

#2503 feat: Automated regeneration of realtimebidding v1alpha client
  generated/google-apis-realtimebidding_v1alpha/CHANGELOG.md
  generated/google-apis-realtimebidding_v1alpha/lib/google/apis/realtimebidding_v1alpha/classes.rb
  generated/google-apis-realtimebidding_v1alpha/lib/google/apis/realtimebidding_v1alpha/gem_version.rb
  generated/google-apis-realtimebidding_v1alpha/synth.metadata
Labels: automerge, cla: yes

#2504 feat: Automated regeneration of serviceconsumermanagement v1 client
  generated/google-apis-serviceconsumermanagement_v1/CHANGELOG.md
  generated/google-apis-serviceconsumermanagement_v1/lib/google/apis/serviceconsumermanagement_v1/classes.rb
  generated/google-apis-serviceconsumermanagement_v1/lib/google/apis/serviceconsumermanagement_v1/gem_version.rb
  generated/google-apis-serviceconsumermanagement_v1/synth.metadata
Labels: automerge, cla: yes

#2505 feat: Automated regeneration of serviceconsumermanagement v1beta1 client
  generated/google-apis-serviceconsumermanagement_v1beta1/CHANGELOG.md
  generated/google-apis-serviceconsumermanagement_v1beta1/lib/google/apis/serviceconsumermanagement_v1beta1/classes.rb
  generated/google-apis-serviceconsumermanagement_v1beta1/lib/google/apis/serviceconsumermanagement_v1beta1/gem_version.rb
  generated/google-apis-serviceconsumermanagement_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2507 feat: Automated regeneration of servicenetworking v1 client
  generated/google-apis-servicenetworking_v1/CHANGELOG.md
  generated/google-apis-servicenetworking_v1/lib/google/apis/servicenetworking_v1/classes.rb
  generated/google-apis-servicenetworking_v1/lib/google/apis/servicenetworking_v1/gem_version.rb
  generated/google-apis-servicenetworking_v1/synth.metadata
Labels: automerge, cla: yes

#2509 feat: Automated regeneration of serviceusage v1 client
  generated/google-apis-serviceusage_v1/CHANGELOG.md
  generated/google-apis-serviceusage_v1/lib/google/apis/serviceusage_v1/classes.rb
  generated/google-apis-serviceusage_v1/lib/google/apis/serviceusage_v1/gem_version.rb
  generated/google-apis-serviceusage_v1/synth.metadata
Labels: automerge, cla: yes

#2510 feat: Automated regeneration of serviceusage v1beta1 client
  generated/google-apis-serviceusage_v1beta1/CHANGELOG.md
  generated/google-apis-serviceusage_v1beta1/lib/google/apis/serviceusage_v1beta1/classes.rb
  generated/google-apis-serviceusage_v1beta1/lib/google/apis/serviceusage_v1beta1/gem_version.rb
  generated/google-apis-serviceusage_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2508 feat: Automated regeneration of servicenetworking v1beta client
  generated/google-apis-servicenetworking_v1beta/CHANGELOG.md
  generated/google-apis-servicenetworking_v1beta/lib/google/apis/servicenetworking_v1beta/classes.rb
  generated/google-apis-servicenetworking_v1beta/lib/google/apis/servicenetworking_v1beta/gem_version.rb
  generated/google-apis-servicenetworking_v1beta/synth.metadata
Labels: automerge, cla: yes

#2506 feat: Automated regeneration of servicemanagement v1 client
  generated/google-apis-servicemanagement_v1/CHANGELOG.md
  generated/google-apis-servicemanagement_v1/lib/google/apis/servicemanagement_v1/classes.rb
  generated/google-apis-servicemanagement_v1/lib/google/apis/servicemanagement_v1/gem_version.rb
  generated/google-apis-servicemanagement_v1/synth.metadata
Labels: automerge, cla: yes

#2511 feat: Automated regeneration of youtube v3 client
  generated/google-apis-youtube_v3/CHANGELOG.md
  generated/google-apis-youtube_v3/lib/google/apis/youtube_v3/classes.rb
  generated/google-apis-youtube_v3/lib/google/apis/youtube_v3/gem_version.rb
  generated/google-apis-youtube_v3/lib/google/apis/youtube_v3/representations.rb
  generated/google-apis-youtube_v3/synth.metadata
Labels: automerge, cla: yes

#2513 feat: Automated regeneration of androidmanagement v1 client
  generated/google-apis-androidmanagement_v1/CHANGELOG.md
  generated/google-apis-androidmanagement_v1/lib/google/apis/androidmanagement_v1/classes.rb
  generated/google-apis-androidmanagement_v1/lib/google/apis/androidmanagement_v1/gem_version.rb
  generated/google-apis-androidmanagement_v1/lib/google/apis/androidmanagement_v1/representations.rb
  generated/google-apis-androidmanagement_v1/synth.metadata
Labels: automerge, cla: yes

#2516 feat: Automated regeneration of retail v2 client
  generated/google-apis-retail_v2/CHANGELOG.md
  generated/google-apis-retail_v2/lib/google/apis/retail_v2/classes.rb
  generated/google-apis-retail_v2/lib/google/apis/retail_v2/gem_version.rb
  generated/google-apis-retail_v2/synth.metadata
Labels: automerge, cla: yes

#2518 feat: Automated regeneration of retail v2beta client
  generated/google-apis-retail_v2beta/CHANGELOG.md
  generated/google-apis-retail_v2beta/lib/google/apis/retail_v2beta/classes.rb
  generated/google-apis-retail_v2beta/lib/google/apis/retail_v2beta/gem_version.rb
  generated/google-apis-retail_v2beta/synth.metadata
Labels: automerge, cla: yes

#2519 feat: Automated regeneration of servicemanagement v1 client
  generated/google-apis-servicemanagement_v1/CHANGELOG.md
  generated/google-apis-servicemanagement_v1/lib/google/apis/servicemanagement_v1/classes.rb
  generated/google-apis-servicemanagement_v1/lib/google/apis/servicemanagement_v1/gem_version.rb
  generated/google-apis-servicemanagement_v1/synth.metadata
Labels: automerge, cla: yes

#2526 feat: Automated regeneration of eventarc v1beta1 client
  generated/google-apis-eventarc_v1beta1/CHANGELOG.md
  generated/google-apis-eventarc_v1beta1/lib/google/apis/eventarc_v1beta1/classes.rb
  generated/google-apis-eventarc_v1beta1/lib/google/apis/eventarc_v1beta1/gem_version.rb
  generated/google-apis-eventarc_v1beta1/synth.metadata
Labels: automerge, cla: yes

#2527 feat: Automated regeneration of fcm v1 client
  generated/google-apis-fcm_v1/CHANGELOG.md
  generated/google-apis-fcm_v1/lib/google/apis/fcm_v1.rb
  generated/google-apis-fcm_v1/lib/google/apis/fcm_v1/gem_version.rb
  generated/google-apis-fcm_v1/synth.metadata
Labels: automerge, cla: yes

#2532 feat: Automated regeneration of remotebuildexecution v1 client
  generated/google-apis-remotebuildexecution_v1/CHANGELOG.md
  generated/google-apis-remotebuildexecution_v1/lib/google/apis/remotebuildexecution_v1/classes.rb
  generated/google-apis-remotebuildexecution_v1/lib/google/apis/remotebuildexecution_v1/gem_version.rb
  generated/google-apis-remotebuildexecution_v1/synth.metadata
Labels: automerge, cla: yes

#2534 feat: Automated regeneration of remotebuildexecution v2 client
  generated/google-apis-remotebuildexecution_v2/CHANGELOG.md
  generated/google-apis-remotebuildexecution_v2/lib/google/apis/remotebuildexecution_v2/classes.rb
  generated/google-apis-remotebuildexecution_v2/lib/google/apis/remotebuildexecution_v2/gem_version.rb
  generated/google-apis-remotebuildexecution_v2/synth.metadata
Labels: automerge, cla: yes

#2533 feat: Automated regeneration of remotebuildexecution v1alpha client
  generated/google-apis-remotebuildexecution_v1alpha/CHANGELOG.md
  generated/google-apis-remotebuildexecution_v1alpha/lib/google/apis/remotebuildexecution_v1alpha/classes.rb
  generated/google-apis-remotebuildexecution_v1alpha/lib/google/apis/remotebuildexecution_v1alpha/gem_version.rb
  generated/google-apis-remotebuildexecution_v1alpha/lib/google/apis/remotebuildexecution_v1alpha/service.rb
  generated/google-apis-remotebuildexecution_v1alpha/synth.metadata
Labels: automerge, cla: yes

#2538 feat: Automated regeneration of youtube v3 client
  generated/google-apis-youtube_v3/CHANGELOG.md
  generated/google-apis-youtube_v3/lib/google/apis/youtube_v3/classes.rb
  generated/google-apis-youtube_v3/lib/google/apis/youtube_v3/gem_version.rb
  generated/google-apis-youtube_v3/lib/google/apis/youtube_v3/representations.rb
  generated/google-apis-youtube_v3/synth.metadata
Labels: automerge, cla: yes

#2546 feat: Automated regeneration of servicecontrol v1 client
  generated/google-apis-servicecontrol_v1/CHANGELOG.md
  generated/google-apis-servicecontrol_v1/lib/google/apis/servicecontrol_v1/classes.rb
  generated/google-apis-servicecontrol_v1/lib/google/apis/servicecontrol_v1/gem_version.rb
  generated/google-apis-servicecontrol_v1/lib/google/apis/servicecontrol_v1/representations.rb
  generated/google-apis-servicecontrol_v1/synth.metadata
Labels: automerge, cla: yes

#2517 feat: Automated regeneration of retail v2alpha client
  generated/google-apis-retail_v2alpha/CHANGELOG.md
  generated/google-apis-retail_v2alpha/lib/google/apis/retail_v2alpha/classes.rb
  generated/google-apis-retail_v2alpha/lib/google/apis/retail_v2alpha/gem_version.rb
  generated/google-apis-retail_v2alpha/synth.metadata
Labels: automerge, cla: yes

#2549 feat: Automated regeneration of logging v2 client
  generated/google-apis-logging_v2/CHANGELOG.md
  generated/google-apis-logging_v2/lib/google/apis/logging_v2/classes.rb
  generated/google-apis-logging_v2/lib/google/apis/logging_v2/gem_version.rb
  generated/google-apis-logging_v2/synth.metadata
Labels: automerge, cla: yes

#2550 feat: Automated regeneration of prod_tt_sasportal v1alpha1 client
  generated/google-apis-prod_tt_sasportal_v1alpha1/CHANGELOG.md
  generated/google-apis-prod_tt_sasportal_v1alpha1/lib/google/apis/prod_tt_sasportal_v1alpha1/classes.rb
  generated/google-apis-prod_tt_sasportal_v1alpha1/lib/google/apis/prod_tt_sasportal_v1alpha1/gem_version.rb
  generated/google-apis-prod_tt_sasportal_v1alpha1/lib/google/apis/prod_tt_sasportal_v1alpha1/service.rb
  generated/google-apis-prod_tt_sasportal_v1alpha1/synth.metadata
Labels: automerge, cla: yes
